[2017-01-14 02:40] NekR commented on #131
Hey @RayBenefield! Yes, I feel your frustration here.

Indeed `Update on reload` helps, I think I may need to add that to the docs or at to the FAQ. That's great that you discovered it, but it's definitely not easy to find. Apart from it, let me provide some other useful things which may help you in dealing with `offline-plugin` in development:

* If you are using different webpack configs for dev

[2017-01-14 13:52] NekR commented on #138
The difference between normal compilation and `webpack-dev-server` compilation: https://www.diffchecker.com/MSt07Pj1
Seems pretty trivial to check for `MemoryFilesystem` usage and react appropriately.

/cc @SpaceK33z I know it isn't bullet-proof detection way but seems pretty solid to me, given that I don't know any other webpack tools using memory fs. What you think?

[2017-01-14 14:44] SpaceK33z commented on #138
@NekR yeah that seems like a good idea for now. Note that `MemoryFilesystem` is set in webpack-dev-middleware, so it will also detect users that only use the middleware.

[2017-01-14 14:48] NekR commented on #138
@SpaceK33z
Yeah, I think that's what I want + a flag to turn normal behavior of the plugin back even when `MemoryFilesystem` is used. Thanks for info 👍

[2017-01-16 10:19] navgarcha commented on #84
That makes sense - was thinking out loud slightly there :)

Perhaps a note in the README or a more informative error message might be useful around the 'no-cors' mode?

[2017-01-16 11:42] NekR commented on #84
@navgarcha Yeah, I think it makes sense to add it to README or to the FAQ. Would you mind to do the PR?

[2017-01-16 12:14] navgarcha commented on #84
Done: https://github.com/NekR/offline-plugin/pull/158

[2017-01-17 05:42] NekR commented on #150
I started doing releases. I do them as @sokra suggested, seems fine enough to me. Thank you!
@andykenward thank you too for reporting this, I think we can close this now :-)

[2017-01-17 05:42] #150 closed

[2017-01-17 05:43] NekR commented on #154
@amangeot if you have time it would be good to clarify those things :-)

[2017-01-17 08:56] amangeot commented on #154
Thank you for the explanation about dynamic caching.

Regarding my project, it's based on [react-redux-starter-kit](https://github.com/davezuko/react-redux-starter-kit), webpack already copies public assets to the /dist.

Let's say you have an icon pack to cache, I am wondering if the entire icon folder (already under `/dist`) could be served offline using a wildcard (`/icons/*`), or if they need

[2017-01-17 09:20] jampy commented on #142
@NekR sorry for the late reply - I'm pretty busy ATM

I switched to the `async-waituntil` branch right now. So far everything works fine - we'll see how this behaves...

However, please note:

- The problem did not reveal itself anymore in the last days/weeks anyway. That *might* be because I had to do some changes on my deployment method. Now my deploy script makes sure that all files (except `sw

[2017-01-17 09:22] jampy commented on #149
@NekR: any news on this?

[2017-01-17 10:01] NekR commented on #154
@amangeot if they are moved to `/dist` by webpack them you don't need to do anything. They are automatically listed and cached. Check generated `sw.js`, there is a `__wpo` variable with metadata/options. It should have your icons listed there.

[2017-01-17 10:03] NekR commented on #142
@jampy sounds good. This seems to me like there is no issues in `offline-plugin`. Yeah, `async-waituntil` is behind `master`, but there is no critical things in it to rebase. I'll just merge it to `master` soon anyway. Thanks for testing it!

[2017-01-17 10:04] NekR commented on #142
I think I'll just close this. If issues will raise again then we can re-open.

[2017-01-17 10:04] #142 closed

[2017-01-17 10:18] jampy commented on #142
I *guess* there *may* be still an issue with `offline-plugin` if asset *contents* change. It's just that *I* avoid such situations completely now and in that way circumvent the problem. Others may still experience this problem.

Anway, @NekR, should I continue using the `async-waituntil` branch or stick with the normal release now?

[2017-01-17 10:27] NekR commented on #142
Yes, I agree there might be a problem or more in `offline-plugin`, but I cannot just keep open or trying to solve unknown problem. Once there will be a repro I'll re-open this for sure.

There is also a thing that `offline-plugin` is being used by many people but no one else reports this problem. So again, once there is a repro -- I'll be happy to open this again.

As you wish. `async-waituntil` e

[2017-01-17 10:54] jampy commented on #142
Okay, if you understand you correctly, then the branch `async-waitutil` has nothing to do with this issue. I'll stick with the NPM release in that case.

BTW, I'm able to build `offline-plugin` from source (`master` branch) by manually installing `npm install babel-runtime` - perhaps just a dependency in package.json is missing.

Just wanted to let you know...

Keep up the great work! :-)

PS: I w

[2017-01-17 14:08] amangeot commented on #154
Oh ok, I'll check again then.

I'll close the issue, thank you for the replies !

[2017-01-17 14:08] #154 closed

[2017-01-17 14:30] NekR commented on #154
Sure, feel free to ask other questions if something :-)

[2017-01-18 05:22] zackify opened #159 "How do I load index.html for all routes offline?"
Edit: I see issue #83, I'm using html webpack plugin but it still isn't working.

I currently have

[code]
For some reason, the index.html file is added as `/` to the cacheMap. If I manually change that to index.html, everything works. What am I doing wrong?

Also, if I let the version be automatic, requesting js bundles are loaded via the network. Am I supposed to do System.import with the versio

[2017-01-18 06:13] zackify commented on #159
Woah, the dev server i was using was returning 500's even tho it returns the index.html for all routes. Problem solved.

[2017-01-18 06:13] #159 closed

[2017-01-18 06:14] zackify opened #160 "uncache versioning"
If I don't remove the version, my assets load over the network. Am I supposed to do System.import in webpack with the cache version appended? How is that supposed to work.

[2017-01-18 07:05] NekR commented on #160
I'm not sure what you mean. What versioning exactly you want to remove? What works wrong and loads from the network? Also, is #159 solved or it's somehow related to this?

[2017-01-18 12:54] zackify commented on #160
Sorry. I was up way too long last night haha. Let me explain better. I have everything working now. Except one problem. If I do not set version to () => null, in chrome, the devtools show every bundle split being loaded with the uncache parameter. When I go to a new page and load a code split, it is loaded without the uncache parameter and thus it is not served from the cache. Setting the version

[2017-01-18 13:26] NekR commented on #160
Thanks for explanation :-)

That's not true. Having a the `__uncache` parameter or any other query params in request doesn't affect if resource is loaded from the cache or not by `offline-plugin`. It's loaded from the cache if it's cached.

Because there is no problem with it I guess. Everyone has `__uncache` param and I in my projects too and everything loads from SW fine.

I think I need to star

[2017-01-18 13:27] NekR opened #161 "Throw an error if `version` is `null` or `() => null`"

[2017-01-18 13:53] zackify commented on #160
So I think I may have it all working today. The issue instead might have
stemmed from the fact that up until yesterday I was doing folder based
hashes. Seems to be weird problems when doing that. Thanks for the help!
On Wed, Jan 18, 2017 at 08:26 Arthur Stolyar <notifications@github.com>
wrote:

[2017-01-18 13:58] NekR commented on #160
@zackify sure, no problem. It still would be good if you read that issue, there is a lot useful info about `__uncache`. But basically it shouldn't affect in any way because it used only to bust http/proxy cache on SW install (assets precaching).

I'm going to close this, but feel free to open or create another issue if something. Thanks :-)

[2017-01-18 13:58] #160 closed

[2017-01-19 14:44] NekR commented on #160
@zackify You mean you were settings webpack' `output.publicPath` this way: `publicPath: '/assets/js/' + hash + '/'` or how?

[2017-01-19 14:46] zackify commented on #160
Yes, like this. Changing it fixed everything.
[code]

[2017-01-19 15:22] NekR commented on #160
@zackify hmm.. that's supposed to work just fine. And it's weird that `version: () => null` helped with it. Maybe you can share your webpack config so I could debug it? If you aren't comfortable to place it in public, then you may send it to my email (it's on my GitHub profile page).

[2017-01-19 16:22] zackify commented on #160
Like I said, I have gone away from that and had already spent a long time pulling my hair out on it. I think its related to this possibly but it's not a problem anymore http://stackoverflow.com/a/39606127/1487687

[2017-01-19 18:06] NekR commented on #160
Okay

[2017-01-20 04:04] mantou132 opened #162 "How to exclude `/ static /../ partials / indexheader.hbs`?"
[code]
[code]
[code]
manifest.appcache:
...
/static/../partials/album.hbs
/static/../partials/alert.hbs
/static/../partials/helpcommonimg.hbs
/static/../partials/helpquickstartimg.hbs
/static/../partials/image.hbs
...

[2017-01-20 05:17] mantou132 commented on #162
excludes: ['**/.*', '**/*.map', '**/../partials/**', '**/help/**']

[2017-01-20 05:17] #162 closed

[2017-01-21 14:15] Chrischuck opened #163 "Cache dissapearing on reload"
Hi all,

I'm having a little trouble getting the plugin to work offline. When there is a connection the service worker works normally and will serve from the cache. However when I go offline, the cache simply disappears and the service worker responds with "An unknown error occurred when fetching the script." This is happening both locally (express server) and on my live site (nginx reverse proxy

[2017-01-21 16:15] NekR commented on #163
"An unknown erro ..." error means that ServiceWorker file fetching failed. It fails when you are offline, of course.

Those lists of requests/responses aren't actually really useful. If response doesn't display "OK" it doesn't mean it wasn't cached. It actually doesn't mean that response isn't "OK", it just doesn't display the "OK" in there.

What happens in your, I assume it at least, is that you

[2017-01-21 17:54] Chrischuck commented on #163
Thank you! I added a cache map and it worked.

[2017-01-21 17:54] #163 closed

[2017-01-23 09:48] NekR commented on #149
Sorry for a delay.
So, I think the best way to do it is to avoid directly involving SW into it. If you want to put parts of this logic to SW then you will need to sync feature detection between main script and SW itself, e.g. if you will need DOM detection.

But there is a problem with it of course -- you cannot download those scripts on SW install because you don't know the correct params for the

[2017-01-23 09:48] #149 closed

[2017-01-23 09:55] NekR commented on #142
It's related to this issue. I don't know how this issue may happen and have no repro for it, so the potential thing why it may happen is that thing with _async waitUntil_, so I made that change and asked you to test with it. But since you are saying that you don't face this issue at all anyway (even without _async waitUntil_ fix) I assume that there is no issue at all. Once there is repro -- I'll

[2017-01-23 10:11] NekR opened #164 "v5 on the way"
v4 is locked for maintenance and bugfixes only.
All new features go to v5 and beyond.

[Millestone 5.0](https://github.com/NekR/offline-plugin/milestone/4)

[2017-01-23 10:16] NekR opened #165 "`appShell` option"
Add `appShell` option.

[2017-01-24 07:57] mcchrish opened #167 "[help] Don't cache /api in cacheMaps"
So what I have is an app with two parts, the front-end app with this plugin installed and an API. Both are under the same domain with the app being in the `/` route while the api in the `/api`.

Problem now is that it seems the SW is also caching the requests from the app to the `/api`. Trying to add a match regex to exclude `/api` URLs in cacheMaps but doesn't work.
[code]
What's the correct way

[2017-01-24 08:29] NekR commented on #167
@mcchrish if you aren't able to specify correct RegExp (which I expect to be possible though), you can use a function instead, like this:
[code]

[2017-01-24 08:29] #167 closed

[2017-01-24 08:30] NekR commented on #167
or also set `requestTypes: ['navigate']` to match only navigate requests instead of all requests.

[2017-01-24 08:31] NekR commented on #167
There is doc about this actually: https://github.com/NekR/offline-plugin/blob/master/docs/cache-maps.md

[2017-01-24 08:46] mcchrish commented on #167
`requestTypes: ['navigate']` did it, man. Thanks so much for this! 👍

[2017-01-24 10:23] dottodot opened #168 "All files downloaded on every build even if nothing has changed"
A bit new to service workers and trying to get my head around it, but when I build my project a second time with no changes I'm finding the the service worker is updated somehow and when I reload the site the process of installing all the assets starts again.

I thought that if there were no changes there should not be any need for the service worker to update or have to re-download all the assets

[2017-01-24 13:35] NekR commented on #168
It should download only that what was changed. How do you determine if it downloads files or not?

[2017-01-24 18:35] dottodot commented on #168
In the network activity you can see when the assets are downloaded and then cached. This only happens when the service worker is installed and in my case every time I do a new build, dispite there not being any changes.

[2017-01-24 18:40] GGAlanSmithee commented on #168
@dottodot you should probably share your whole webpack config. For example; do you use hashed chunks? If so, maybe the hash changes between builds for whatever reason?

[2017-01-24 18:58] NekR commented on #168
@GGAlanSmithee `offline-plugin` generates its own hashes in since 4.5 and doesn't rely on webpack's generated hashes. Though, if at least any byte on a bundle changes -- you get a new hash for it.

@dottodot what you can do here is do a built and then open `service-worker.js` and copy value of `__wpo` variable. Then do another build and copy it again. Then share it here so we could compare hashes

[2017-01-24 19:05] GGAlanSmithee commented on #168
@NekR ah okay, wasn't aware, sorry for the noise. (Just too be sure, can you also confirm that you are using version >= 4.5 @dottodot)

[2017-01-24 19:18] dottodot commented on #168
Yes I'm using 4.5 and have just compared between 2 builds and can see there are differences caused by CopyWebpackPlugin and the image files that are added to the service worker aren't always added in the same order, so not sure if that's the cause.

Anyway here my config and the __wpo info
Config
https://gist.github.com/dottodot/298f8152d7c01f3739ca44018a0952f4
Build 1
https://gist.github.com/dott

[2017-01-24 21:17] domderen commented on #137
Created a PR that adds that functionality into the `offline-plugin`: https://github.com/NekR/offline-plugin/pull/169

[2017-01-25 12:33] NekR commented on #168
@GGAlanSmithee no problem :-)
@dottodot order doesn't actually matter. I'll try to debug it with your config. Just to clarify other things: Do you see it in production? If in development, when on which server? webpack-dev-server?

[2017-01-25 12:44] dottodot commented on #168
Happens on production as well and not using webpack-dev-server at the moment.

[2017-01-25 13:10] dottodot commented on #168
Think it's definitely somehow related to CopyWebpackPlugin as when I do a build that just has js and css files it works as expected.

[2017-01-25 13:52] NekR commented on #168
Hmm.. That's great info actually, thanks for providing it. Unfortunately plugins incompatibility happens all the time, but I'll to figure that out.

[2017-01-26 10:38] IljaDaderko opened #170 "Usage with .htpassword protected websites"
We introduced .htpassword protection to our staging environment today, which seems to be breaking service worker as poor guy can't gets 401 (Access denied) when trying to install.

Any way to add authentication headers or something to the service worker so he can access protected files?

[2017-01-26 10:58] NekR commented on #170
I actually have no idea how `.htpassword` works. Does it use cookie for auth or `Authentication` header? If it uses header, then how do you request scripts anyway?

[2017-01-26 11:18] NekR commented on #170
Anyway, I think you need this option:

[code]

This should work with Basic HTTP Auth, which I assume is used by .htpassword.
It by default should be equal to `same-origin`, so if you interested in it then contributions are very welcome: https://github.com/NekR/offline-plugin/issues/123

[2017-01-26 11:18] #170 closed

[2017-01-27 00:43] zackify opened #171 "Correct way to cache get requests to api?"
Sorry about this noob question.... I am doing get requests to an api using cors. (It's hosted on a subdomain). All that is needed for the request is an authorization header with their token. How can I configure this plugin to cache those requests?

[2017-01-28 07:57] NekR commented on #171
Unfortunately `offline-plugin` doesn't support dynamic caching at a moment. Though, if you know all those URLs in advance then you can put them in `optional` section of the caches and use `ServiceWorker.prefetchRequest.credentials` option set to `include`. Of course, this isn't idea way.

Other way is that you can write your own SW code to cache those URLs by specifying `ServiceWorker.entry` optio

[2017-01-28 14:43] zackify commented on #171
Thanks for the help!
On Sat, Jan 28, 2017 at 02:57 Arthur Stolyar <notifications@github.com>
wrote:

[2017-01-28 15:27] #171 closed

[2017-01-28 21:10] MoOx commented on #148
@NekR the issue I am facing with Phenomic is related to this thread.
BUT I am facing this issue with webpack 1. So latest of hard-souce-* + offline-plugin@^4. poke @mzgoddard.

To reproduce

[code]

Running 2 builds to generate the cache, then trigger the issue.

[2017-01-29 12:02] NekR commented on #148
@MoOx Yeah, I see, it has to be fixed. I can do that tomorrow, I think.

[2017-01-30 09:05] haf commented on #168
I think I may be experiencing this issue.

 1. Visit staging-001.qvitoo.com
 2. Look at the service worker doing its thing
 3. After we deploy (which we do once in a while), the first load after a deploy crashes, because the service worker re-downloads scripts that are not there any longer. `index.html` is `Cache-Control: no-cache`; so the index file points at valid JS files.
 4. Pressing CMD+R; t

[2017-01-31 15:17] NekR commented on #148
Okay, I made a fix for this: https://github.com/NekR/offline-plugin/pull/172
@mzgoddard would you mind to review it?

[2017-01-31 15:48] NekR commented on #168
Hey @haf, I don't think your issue is related to this issue. First of all, I don't even see your website registering a SW. It has `https://staging-001.qvitoo.com/sw.js` file, doesn't register it. But I see in the console that it's being registered, so I assume you just disabled it for now.

First load after a deploy may crash only if requests are going directly to the servers, i.e. to the network.

[2017-01-31 15:52] abhijit-paul opened #173 "Support for wildcard paths in externals option"
Many a times we want to include multiple external artefacts like images, videos. Adding them each one by path is tedious and error-prone. Supporting single level wildcard will help maintainability of the code.

[2017-01-31 15:55] NekR commented on #168
@haf also, you are using an old version of `offline-plugin`, presumably `3.*` which has `updateStrategy: 'all'` by default instead of `'changed'` which was in `4.*`. Please update :-)

[2017-01-31 16:07] NekR commented on #173
@abhijit-paul  how exactly wildcard in `externals` should work? To pre-cache assets it needs to know their URLs and with wildcard it of course doesn't know them.

[2017-01-31 16:33] NekR opened #174 "Make `autoUpdate` ON by default in v5"

[2017-02-01 11:18] haf commented on #168
Why are the requests going to the network and not the cache then? It would seem that they should go to either-or.

[2017-02-01 11:27] NekR commented on #168
As I said, if requests are going to network only then those URLs aren't cached. Also, I you think there are problems there with the plugin, then please open a separate issue since it isn't related to copy-webpack-plugin issue (this one). Thanks.

[2017-02-01 16:42] mzgoddard commented on #148
I should be able to review today.

On Tue, Jan 31, 2017 at 10:17 AM, Arthur Stolyar <notifications@github.com>
wrote:

[2017-02-01 17:20] NekR commented on #148
@mzgoddard thanks! There is just a couple lines of changes and I already tests with `hard-source-webpack-plugin`, seems to work fine. Just wondering if it would work fine with other plugins such `PrefetchPlugin` which you mentioned here.

[2017-02-01 19:17] haf opened #175 "Cache all or nothing"
Use case:

 - `index.html` -> `deadbeef1234567.js`
 - `index.html` has `Cache-Control: no-cache`
 - `*.js` are cacheable for a long period of time.
 - `index.html` is in the `main` section;

[code]

Upon deploy, old .js-files are removed.

At runtime in the browser, the service worker makes a network request for a `.js` file despite not having checked `index.html` for updates.

Had `index.html` be

[2017-02-01 19:21] haf commented on #168
@NekR Thanks. I created a new issue.

[2017-02-02 09:01] GGAlanSmithee commented on #128
@NekR is this issue still relevant, since offline-plugin now [generates its own hashes?](https://github.com/NekR/offline-plugin/issues/168#issuecomment-274900718)

[2017-02-02 17:34] NekR commented on #128
@GGAlanSmithee I think it makes sense to keep this open to pull the information from to the docs someday, but thanks for reminding me about this issue :-)

`offline-plugin` indeed now generates its own caches for assets and redownloads them only if they truly changed (bytes changed). This doesn't solve the problem that webpack sometimes changes bundles' content when it shouldn't.

[2017-02-03 05:57] NekR commented on #148
This is fixed, I just published [4.6.0](https://github.com/NekR/offline-plugin/releases/tag/v4.6.0). Thanks for helping everyone!

[2017-02-03 05:57] #148 closed

[2017-02-03 06:02] NekR commented on #173
Closing because of a lack of response. If you have some valid points about this feature then I'll open this again. Thank you.

[2017-02-03 06:02] #173 closed

[2017-02-03 07:45] diondirza opened #178 "Runtime template thrown error in some browser"
Seems in runtime template there is a function using arrow function of es6 style, I have made some [PR](https://github.com/NekR/offline-plugin/pull/177) to fix this issue.

[2017-02-03 08:20] jampy commented on #149
Hi @NekR

thanks for your explanations and sorry for the late reply.

I don't need DOM, I just need JavaScript feature detection like mentioned in the original post. That can be done safely in the SW as it's using the same engine (the thread doesn't matter).

I appreciate your ideas, but I don't think they will work in cases like mine since the feature detection practically affects **all** scripts

[2017-02-03 16:23] NekR commented on #178
Fixed in `4.6.1`, thank you!

[2017-02-03 16:23] #178 closed

[2017-02-04 17:17] NekR commented on #148
@MoOx btw, does it works now for you?

[2017-02-09 01:14] hanford opened #180 "Specify service worker domain"
Hello! so first of all, thanks for this plugin. It's truly amazing!

I work for a company that is on the verge of using this for our consumer application, but I have one question that I can't seem to find the answer for.

All of our Js lives on a CDN. We are going to put the service worker behind our domain, but webpack will prefix the service worker with the wrong domain.. Is there a way to speci

[2017-02-09 01:28] hanford commented on #180
Oh, looks like service worker publicPatch will do the trick

[2017-02-09 01:28] #180 closed

[2017-02-09 08:16] NekR commented on #180
@hanford yeah, `publicPath` is the way. Anyway, if something won't work feel free to open this again :-)

Thanks!

[2017-02-11 01:40] hanford opened #182 "generated assets includes trailing slash"
When generating a service worker to cache files, the last asset is a hash, matched with a trailing slash.. unfortunately our s3 set up will respond with a `403` when request that URL. Is there a way around generating that?

[2017-02-11 09:09] NekR commented on #182
Not sure I understand. Can you at least provide so examples of URLs, your webpack config or at least `offline-plugin` config? I particularly don't understand this phrase at all:

[2017-02-11 20:08] hanford commented on #182
Yeah sorry, I thought I attached some images. So my problem is that webpack is generating a massive hash map for all of my assets, (which is ok) .. and the offline plugin generates a service worker, which will request all of those assets.

The last generated hash, is linked to a trailing slash, so the service worker is trying to do a request to get all of a s3 bucket, and so s3 responds with a 403

[2017-02-11 22:52] hanford commented on #182
Ended up solving with globs and `{caches: { main: ['**.js', '**.css', .. ] } }`

[2017-02-11 22:52] #182 closed

[2017-02-12 17:03] fes300 opened #183 "html files not cached"
hi,

not 100% this is an issue or I'm just missing something, but with this webpack configuration:

[code]

the html is not cached:

![image](https://cloud.githubusercontent.com/assets/10383300/22864193/217e06ec-f14d-11e6-9310-67cb8764ce52.png)

Which obviously breaks the whole offline experience...
Am I missing something? maybe there's some configuration I'm doing wrong?

[2017-02-12 17:55] fes300 commented on #183
nevermind, apparently I was drunk..
that wan an old cache and I didn't even have offline-plugin installed...

[2017-02-12 17:55] #183 closed

[2017-02-14 08:51] alfeg opened #184 "Add 'publicPath' option to runtime 'install' method"
Is it possible to update `runtime_template.js` to contain a `publicPath` option. So that I can register SW in runtime using custom publicPath - not the one provided by webPack, i.e.

[code]

When my app is deployed to asp.net mvc app it can run from any subfolder - so asp.net provide proper base path in runtime.

[2017-02-14 08:56] alfeg commented on #184
I'm realized that sw.js itself contains a lot of build time path variables...

[2017-02-14 09:53] NekR commented on #184
Don't give up on it so fast :-) Yes, sw.js has a lot of things generated on build time, but in general everything there could be used relatively to publicPath.

There is a relative paths option in offline-plugin, if you set it to `true` then it don't use webpack's publicPath, but rather everything relative to page which requested the sw.js. Give it a try :-)

[2017-02-14 10:11] alfeg commented on #184
Thanks. I've hacked a bit `runtime_template.js` and make it works as expected.
So yeah. I want custom path option in runtime.install

[2017-02-14 12:20] NekR commented on #184
@alfeg can you show to me what exactly you changed there?

[2017-02-14 12:31] alfeg commented on #184
@NekR, sure. Something like:
[code]
to
[code]

This works for me.

[2017-02-14 14:52] NekR commented on #184
@alfeg okay, that makes sense. I'll need some other things from your. In generated `sw.js` there is a `__wpo` variable at the top. Would be good if you could provide here its content and if possible your webpack config. If you don't want it to be public, you can send it to my email (it's on github profile).  This will help me understand the whole picture. Thank you!

[2017-02-14 15:30] alfeg commented on #184
It's a combination of problems.

We using webpack builded application inside of older Asp.Net MVC application - this cause us to use publicPath with server side includes - `~\WebPackApp\path\to\app`. Those URI's are resolved in runtime with ASP.NET engine. Essentialy our app is just a single `View`. Actually this problem with webpack.publicPath reuse is my main problem with a lot of external libs.

[2017-02-14 22:32] NekR commented on #184
@alfeg I see, thank you for additional information. I think I can fix that. Thanks for reporting this issue 👍

[2017-02-17 20:46] tleunen commented on #63
What was the final solution for this?
I'm kinda having the same issue.

Here's what I see for the sw:
![screen shot 2017-02-17 at 3 45 32 pm](https://cloud.githubusercontent.com/assets/1972567/23082635/2ca505d2-f528-11e6-83b8-8d3c40f459e5.jpg)
Looks like the new SW never gets activated, even after a refresh

[2017-02-17 21:38] NekR commented on #63
Please read here about SW update process and related stuff: https://github.com/NekR/offline-plugin/blob/master/docs/updates.md

[2017-02-17 21:43] tleunen commented on #63
Thanks :)

[2017-02-23 09:31] simonfl3tcher opened #186 "OfflinePlugin using ApplicationCache instead of Service Worker"
Hey everyone, I am struggling with getting my site to always use the Service Worker (regardless of the hosting), I have tried to debug but to no avail.

### Whats the problem?

It seems that depending how the site is being hosted the browser uses either the Service Worker or the application worker. Clearly I would like to use the Service Worker at all times, but for some reason it doesn't seem to

[2017-02-23 09:48] NekR commented on #186
You need https for ServiceWorker to work.

[2017-02-23 10:47] NekR commented on #186
Okay, I think I should provide a bit more details. But first of all, again, your website must have `https://` to have ServiceWorker working.

The reason why it works on localhost because `localhost` and `127.0.0.1` are exception and are allowed to run ServiceWorker even without `https://`. `AppCache` is a fallback so in case when ServiceWorker isn't available it's being used. That's the case when

[2017-02-23 10:47] #186 closed

[2017-02-23 10:49] simonfl3tcher commented on #186
@NekR thank you so much for clearing that up. I think I was struggling to understand why it works locally but when running on a different IP/S3 it was failing. I can confirm that once you get `https` running it does indeed use the service worker.

[2017-02-23 16:27] thomaswelton opened #187 "Service Worker install 127.0.0.1"
I was running my site on 127.0.0.1 instead of localhost which caused this check to fail
https://github.com/NekR/offline-plugin/blob/0fffb644f273612e0b83bb944dd9a3e00689f3b7/tpls/runtime-template.js#L8

Can service workers be installed when running locally at 127.0.0.1?

[2017-02-23 16:39] NekR commented on #187
@thomaswelton Yes, I believe `127.0.0.1` is just fine for ServiceWorker. PR is welcome for that :-)

[2017-02-23 19:12] #187 closed

[2017-02-23 23:52] wyqydsyq commented on #184
I'm also experiencing a similar issue.

I need the `sw.js` file served from `/` so that it can cache my top level `index.html`, but all my assets from Webpack are served under `/static/`. I need a way to have the registration call that gets added by offline-plugin to my bundle to load `/sw.js`, and for sw.js itself to cache my webpack assets using a `/static` path.

Currently if I specify publicPa

[2017-02-24 12:51] NekR commented on #184
@wyqydsyq This works for me:

[code]

Although you'll need to generated correct structure of assets too because specified `publicPath`s do not affect how assets are generated to the file system.

If you think something isn't clear, please make it clearer. All that is welcome.

[2017-02-24 12:56] NekR commented on #184
@alfeg will `__webpack_public_path__` work for you in your case? If you have to prefix SW/AppCache paths then I guess you have to prefix all other assets paths and the correct way to do so in webpack is by assigning to `__webpack_public_path__`:
[code]

[2017-02-26 02:30] zackify opened #189 "undefined is not an object (evaluating 'i.contentWindow.applicationCache.update')"
Safari 10 seems to throw an error from this:

<img width="761" alt="screen shot 2017-02-25 at 9 29 56 pm" src="https://cloud.githubusercontent.com/assets/449136/23336559/90e1620a-fba1-11e6-8ae6-7c395b6a8c1c.png">

[2017-02-26 11:42] NekR commented on #189
@zackify yeah, that seems like a possible situation. I'll into into it.

[2017-02-27 02:24] hacke2 opened #190 "Cache some ajax requests"
How to config with offline-plugin if I want to cache some ajax request?

[2017-02-27 05:14] DrakeLeung opened #191 "Incorrect path of sw.js"
When I visit `mysite.com`,
`sw.js` request path is `mysite.com/cdn.example.com/sw.js`,
However, `cdn.example.com/sw.js` is actually what i want.

What I found in bundle js file:

[code]

webpack config:

[code]

And *offline-plugin*'s version is: `^4.6.1`.

[2017-02-27 15:53] obetomuniz opened #192 "Events seems bugged when using Application Cache"
I'm trying to hit onInstalled, onUpdating, onUpdateReady and onUpdated to give feedbacks for my users after the installation of the cache ends, but it just works in browsers that support SW. Any way to make it usable in browsers that support just Application Cache? (e.g. Safari)

The project is [here](https://github.com/minasdev/minasdev.org).

[2017-02-27 16:48] GGAlanSmithee commented on #192
Not sure why, but from `updates.md`:

[2017-02-27 16:54] obetomuniz commented on #192
Hey, thanks!

I saw this section there @GGAlanSmithee I just want to understand why are buggy and if you guys have some good proposal to enable these events using some outside approach.

[2017-02-27 17:15] NekR commented on #192
https://github.com/NekR/offline-plugin/issues/140

[2017-02-27 17:16] NekR commented on #192
Other than that, AppCache events should work at least "fine". They work for me here: https://offline-plugin.now.sh/

[2017-02-27 17:22] NekR commented on #189
@zackify I'm not able to repro this in Safari 10. Are you getting this in incognito mode?

[2017-02-27 17:24] NekR commented on #189
@zackify also, is it desktop Safari or iOS Safari? Or maybe even some WebView?

[2017-02-27 17:26] zackify commented on #189
Here's the full info
<img width="1865" alt="screen shot 2017-02-27 at 12 25 16 pm" src="https://cloud.githubusercontent.com/assets/449136/23372004/e5ba7a9a-fce7-11e6-8d52-5a2b2bbd3d9b.png">

Also the full UA string: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8`

[2017-02-27 17:27] NekR commented on #191
You cannot put ServiceWorker on CDN, it should be on your domain. You can put assets on CDN though, but they will have to served with correct CORS headers and you will have to adjust the config a bit for CDN.

[2017-02-27 17:44] obetomuniz commented on #192
Great @NekR Thanks for the resources. I'll take a look to try figure out if I'm doing something wrong or are the same things reported for you in #140

[2017-02-27 17:44] #192 closed

[2017-02-27 17:55] GGAlanSmithee commented on #192
@NekR want a summary of that explanation you provided in #140 in the docs?

[2017-02-27 18:04] NekR commented on #192
@GGAlanSmithee Yeah, would be good if you want to do so :-)

[2017-02-27 18:05] NekR commented on #192
@obetomuniz sure, feel free to ask other questions if something.

[2017-02-27 18:07] NekR commented on #189
Interesting, so you got it via some error tracking script. Do you see it happening often or just once?

[2017-02-27 18:12] obetomuniz commented on #192
Nice! Thanks @NekR

[2017-02-27 18:23] zackify commented on #189
Yes, it's through sentry.io. It's happened only once so far. The joys of JS running in 20 different engines.... lol

[2017-02-28 01:19] DrakeLeung commented on #191
Thanks I will try it. And close the issue if it works.

[2017-02-28 02:12] NekR commented on #189
I think I can just wrap that into `try...catch` because it isn't that important and probably happens in some awkward situation when window is unloading. @zackify will this work for you?

[2017-02-28 02:13] zackify commented on #189
Yep. Sounds good! Thanks.

On Mon, Feb 27, 2017 at 21:12 Arthur Stolyar <notifications@github.com>
wrote:

--
Thanks,
Zach

--
Zach Silveira
Senior Partner
Encryption, Inc <https://encryption.io>
Office: 404-602-0322

[2017-02-28 05:38] #191 closed

[2017-02-28 17:49] hung-phan opened #194 "Dynamic html generated by the server"
Hi @NekR,

I have a question but don't know where to find the answer (It is kind of a newbie question).
I have 2 routes (`/` and `/static-page`) which have html generated dynamically by the server. How can I use offline-plugin to cache it?

My current configuration is:

[code]

and my sw.js

[code]

Based on what I read, this will not work for dynamic html generated by the server. Is that correct

[2017-02-28 22:26] NekR commented on #194
@hung-phan The way you did it is fine except that you get a small warning in console that those URLs are externals and that you didn't mark them so explicitly. I think more simpler way would be this:

[code]

Also I would suggest to remove `updateStrategy: 'all'` unless you need it specifically by some reason.

[2017-02-28 22:29] NekR commented on #190
If you know those URLs in advance you can use `externals` option, like this:

[code]

if you don't know those URLs in advance then you will need to write some SW code manually since `offline-plugin` doesn't support it yet.

[2017-02-28 22:30] NekR commented on #184
@wyqydsyq ping
@alfeg ping

[2017-03-01 02:28] tribou opened #195 "Error: Entry was not found."
Occasionally, after a new deploy (when my app is trying to update), I'll get this error in the console before the `[SW]: Install event` gets a chance to complete:

[code]

The stack trace points me to this line of the `sw.js`:

![screen shot 2017-02-28 at 8 27 00 pm](https://cloud.githubusercontent.com/assets/1641390/23443417/552be014-fdf4-11e6-9898-a3558e95530f.png)

Any ideas what this could be?

[2017-03-01 02:45] NekR commented on #195
I think it's this https://bugs.chromium.org/p/chromium/issues/detail?id=435694 (but bug says it's fixed) or this https://github.com/GoogleChrome/sw-toolbox/issues/163#issuecomment-233598088.

[2017-03-01 02:47] NekR commented on #195
@tribou on what file exactly it fails? Always the same? Is it happening on each build/update? Are you on Windows?

[2017-03-01 02:57] NekR commented on #195
It probably isn't that Chrome bug because it always created a cache with the new name (unless you generate static version for it).

If it isn't a "big file issue" then it's probably a concurrency one. Can you share your `offline-plugin` config here?

[2017-03-01 02:58] hung-phan commented on #194
Thanks @NekR.

[2017-03-01 02:58] #194 closed

[2017-03-01 03:02] NekR commented on #195
Also would be good to get full stack trace of the error because that line isn't the line caused the error.

[2017-03-01 03:14] tribou commented on #195
@NekR Unfortunately, I haven't been getting it predictably, but I have been seeing it fairly often.  I'm using Chrome/macOS Version 56.0.2924.87 (64-bit).

Strange how you found the message referenced in a chromium bug...  The stack trace always points to the `sw.js` file exported by `offline-plugin`.  The Application > Service Workers offers a little more verbiage:

![image](https://cloud.githubu

[2017-03-01 04:40] NekR commented on #195
Putting this for reference for myself:

https://cs.chromium.org/chromium/src/content/browser/cache_storage/cache_storage_cache.cc?q=CACHE_STORAGE_ERROR+package:%5Echromium$&dr=C&l=999

Lookup for `CACHE_STORAGE_ERROR_STORAGE` and `CACHE_STORAGE_ERROR_NOT_FOUND`.

Unfortunately I don't think that I'll be able to debug this until I have a repro and a trace to understand which and where exactly error

[2017-03-01 04:41] NekR commented on #195
@tribou thanks for the info, that really helped to identify the method which was causing causing the error. Still, I don't know exactly why it causes the error, i.e. what happens. Need a repro :-(

[2017-03-01 04:50] NekR commented on #195
@tribou btw, can you check your available quota as described here https://developer.chrome.com/apps/offline_storage#query?

[2017-03-01 04:57] NekR commented on #195
@tribou also, is that happening on many devices or just on one? If on many, do you think you could provide a link for a repro, e.g. for your staging env if it happens there.

[2017-03-01 04:58] NekR commented on #195
@tribou one more thing.. do you see the same problem in Firefox? If so, what error it throws?

[2017-03-01 05:29] tribou commented on #195
...I just went to run that script in the console, and the `[SW]: Activate event` was randomly successful this time. 😣  Now it's reading assets from the service worker as expected and no longer trying to update (working correctly).

Anyway, this was the output of the script you linked above:

[code]

I don't remember noticing the issue on any other devices and haven't seen it in Firefox yet.  If I

[2017-03-01 09:23] alfeg commented on #184
@NekR , nope It's already set to proper path.

[2017-03-02 09:58] seveves commented on #106
Looky looky! There is a PR! :robot:

[2017-03-02 20:18] NekR commented on #106
Fixed in #196. Thank you @seveves :1st_place_medal:

[2017-03-02 20:18] #106 closed

[2017-03-02 22:10] NekR commented on #190
Let me know if you have other questions. Thanks.

[2017-03-02 22:10] #190 closed

[2017-03-03 03:11] hacke2 commented on #190
if my api url is 'https://api.xxx.com/user?id=1', The id is variable, How do I configure?

[2017-03-03 05:36] NekR commented on #190
@hacke2 you cannot right now form configuration. You have to add `ServiceWorker.entry` and write a bit of its code manually to do so.

[2017-03-03 06:53] hacke2 commented on #190
Can you provide some demo? I see [the file](https://github.com/NekR/offline-plugin/blob/master/tests/legacy/fixtures/basic-with-sw-custom-entry/sw-entry.js) which file is empty.

[2017-03-03 17:58] zackify opened #197 "Cache Invalidation"
Sorry if this has been asked before, but I'm trying to figure out the best way to push new releases and have the service worker be updated.

Right now, I upload all of webpack's output to S3 and then serve it through cloudfront. All outputted files have a hash in front of them, except the sw is always the same filename.

Should I simply make it so that the serviceworker has a hashed filename as we

[2017-03-03 19:17] NekR commented on #137
Yeah, landed in #169, not sure why this isn't closed already.

[2017-03-03 19:17] #137 closed

[2017-03-03 19:18] NekR commented on #197
Hi, @zackify!

Short version:
Never cache SW file. Don't change its name, i.e. don't hash it.

Long version:
https://github.com/NekR/offline-plugin/issues/127 -- You'll need to read whole thread to understand all the details.

:-)

[2017-03-03 19:19] NekR commented on #197
(I hope that's correct thread, I believe it is)

[2017-03-06 08:30] hacke2 opened #199 "why offline-plugin couldn't throw the secure origins error?"
If I code sw.js by myself, The browser will throw a error: 'Uncaught (in promise) DOMException: Only secure origins are allowed (see: 'https://goo.gl/Y0ZkNV')，I know my site isn't 'https',but the offline-plugin couldn't throw the error, why?

[2017-03-06 11:10] NekR commented on #199
Why would it? It's smart enough to not even try to register SW if website isn't HTTPS. It fallbacks to AppCache (if enabled) in non-HTTPS case.

[2017-03-07 06:22] hacke2 commented on #199
get it, thanks!

[2017-03-07 06:22] #199 closed

[2017-03-07 10:09] egoist commented on #153
Anything I can help with? 😄

[2017-03-07 10:39] GGAlanSmithee commented on #153
BTW, there's also this https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch

[2017-03-07 10:42] egoist commented on #153
@GGAlanSmithee that's true, you can use jekyll for that

[2017-03-07 10:56] NekR commented on #153
@GGAlanSmithee  Thing is that docute is @egoist's thing :-) I like docute, it seems nice.

I'm just not really sure we need docs website right, I just created this to not lost the idea. There is little-to-no docs right now, so it's fine as is I think.

@egoist thanks for help suggestion :-)

[2017-03-07 11:42] GGAlanSmithee commented on #153
ah, sorry @egoist, didn't notice!

[2017-03-08 15:29] easga opened #200 "Assets are always requested from server"
Hello,
This could rather be a newbie question who could not get the plugin to work and feeling helpless after so many attempts playing with the configurations. Please assist me on where to ask those type of questions.

We have a secure index.html which loads our assets at folder /assets/ which is public. Plugin specifies assets/sw.js as output path.
When i load page on Chrome, i can see that servi

[2017-03-08 15:42] NekR commented on #200
Hard Reload bypassed ServiceWorker completely, that's it's Hard Reload after all. You may also want to read [this doc](https://github.com/NekR/offline-plugin/blob/master/docs/updates.md). It's about SW update process, but there could be some details which may help you.

[2017-03-08 16:55] easga commented on #200
I gave hard reload example to emphasize that the requests are also always having same headers and always bypassing service workers when the initiator is index.html in case of **normal reload**. So is bypassing related to certain headers being present in one of those requests?

[2017-03-08 17:24] NekR commented on #200
@easga sorry, I don't get what you mean here. On one screenshot it's loaded from ServiceWorker (it's marked as `(from ServiceWorker)`) and on second one which is with "Hard Reload" it loaded from the network. What the problem with it?

[2017-03-08 17:34] easga commented on #200
Sorry, i think i fail to explain it. So this loading from service worker happens only When i type the full asset URL in the bar. However though, in reality they are loaded by index.html Which lies in root and those files are under assets. There, they are never loaded from service workers and request headers look like the screenshot ( as if i hard reload the asset itself in a seperate tab)

[2017-03-08 17:55] GGAlanSmithee commented on #200
@easga can you share your webpack config please?

[2017-03-08 18:37] NekR commented on #200
Well, headers are unrelated for sure. I'm also sure it works as it should because are still cached and returned from cache when they are requested directly. Most likely problem is in understanding what's going on.

@easga how do you detect if request went through cache or not apart from looking at headers?

[2017-03-08 18:43] NekR commented on #200
Also, if ServiceWorker file is on `/assets/sw.js` path, you cannot cache `/` path.

[2017-03-08 18:53] easga commented on #200
@GGAlanSmithee i will provide the full webpack config tomorrow at office, now i dont have access to code. I started with really basic offline plugin setup, and tested some prefetchRequest(ServiceWorker) settings to see if it helps but it does not, and they are public anyways. I was suspicious about a library (company' s own) which has Axios request interceptors which i guess intercepts pretty much

[2017-03-08 19:08] NekR commented on #200
@easga hmm.. sounds weird. `<base>` might be the cause though. If all assets are in `/assets`, can you try to set `new OfflinePlugin({ publicPath: '/assets/' })` option and check if it helps?

[2017-03-08 19:08] NekR commented on #200
When you will be in the office, of course.

[2017-03-08 19:15] easga commented on #200
I think i might have tried that. Dont you think /assets/ will try to load it from root? like https://manager.adtech-union.tv/assets/ ?  My webpack publicPath is empty string, and since sw.js output is 'assets/sw.js', plugin writes all the paths as '../assets/application.css' etc. I first was attempting the plugin without manipulating output, so it would end up at the same place as index.html but t

[2017-03-08 19:27] NekR commented on #200
That's what I said. If your assets are in `/assets/` then set to `/assets/`, if on other path then set other path.

Okay, I know what's going on:

In your case `/` isn't controlled by SW because SW is on `/assets/sw.js` path and hence its scope is `/assets/`.

You shouldn't really cache `/` to make it work, you just have to have correct scope for SW.

[2017-03-08 19:49] easga commented on #200
@NekR my assets are under https://manager.adtech-union.tv/automated-guaranteed/assets/ , not  https://manager.adtech-union.tv/assets/. So there are many other apps under same host, where mine runs on /automated-guaranteed/ as specified in base href. So SW shall have the root scope even though everything is under /assets/ ? Or is it controlling '/' but i shall specify public path so it controls '/a

[2017-03-08 19:55] easga commented on #200
I guess i got it. Index.html is in root so SW does not control the requests originating from that. So one solution is to move sw.js to root and request it with tokens, so it controls the requests. Do you suggest any other way if i keep sw.js as is?

[2017-03-08 20:12] easga commented on #200
Thanks! Thanks!
http://stackoverflow.com/questions/35358038/how-to-register-a-service-workers-scope-one-directory-above-where-the-service-w

[2017-03-08 20:26] NekR commented on #200
Yeah, you can change the scope manually by setting an option for it, but I find it more tedious than just moving the file. Anyway, whatever works for you :-)

[2017-03-08 20:26] #200 closed

[2017-03-08 20:32] easga commented on #200
Great job with the plugin! And can not thank you enough with your help! It made my day!

[2017-03-08 20:36] NekR commented on #200
Thanks. Sure, you are welcome 👌

[2017-03-08 20:54] GGAlanSmithee commented on #200
For future reference, @NekR is reffering to the `scope` of the `ServiceWorker` option, as mentioned in the docs [here](https://github.com/NekR/offline-plugin/blob/master/docs/options.md#serviceworker-object--null--false). @NekR let me know if you'd like to mention something about this in the FAQ and I'd be happy to send a PR.

[2017-03-08 20:58] zackify commented on #189
<img width="1843" alt="screen shot 2017-03-08 at 3 57 42 pm" src="https://cloud.githubusercontent.com/assets/449136/23723669/05ecf9e6-0418-11e7-891f-3bc0cf11360a.png">

Happened again, different browser! haha

[2017-03-08 21:22] NekR commented on #200
@GGAlanSmithee yeah, thank you for extended info :-) Do you have any ideas on how to better describe this in the FAQ? Because I don't at the moment, a bit overwhelmed with other things. Feel free to do the PR if you can describe that 💪

[2017-03-08 21:23] NekR commented on #189
@zackify lol, Firefox on Windows Vista.. it supposed to have ServiceWorker. Maybe that's some bot-browser with rotated user agent string?

[2017-03-09 00:49] zackify commented on #197
Yes, I have this working perfectly. On AWS I never cache it, and auto update every two minutes and reload my app. Btw this is super fast on the reload since it's after the new worker caches everything! Love this plugin :)

[2017-03-09 00:49] #197 closed

[2017-03-09 00:50] zackify commented on #189
<img width="1203" alt="screen shot 2017-03-08 at 7 48 22 pm" src="https://cloud.githubusercontent.com/assets/449136/23730913/5f510fca-0438-11e7-9d14-be5a7a875e67.png">

I really don't know, now in mobile safari. Maybe just add a stopgap

[2017-03-09 01:02] NekR commented on #189
@zackify Yes, I certainly need to do that. The only reasons I see why it happens though are:

* That's some weird bot-related browser with weird AppCache implementation
* Somehow that line is being executed when page is being unloaded / iframe unmounted from the DOM (`document.body` cleaned?) and `applicationCache` object becomes `null`

Anyway, in both cases we need `try..catch` right there. I th

[2017-03-09 01:03] NekR commented on #197
😎

[2017-03-09 01:05] zackify commented on #189
No rush, it is weird. What I've found building this app is there's some ridiculous shit that goes on in some browsers.... and you never know if they are spoofing their ua lol

[2017-03-09 13:12] vrpruthvi opened #202 "On initial load fetch latest assets for user who has already visited website"
Thanks for the great plugin. I'm new to SW, wanted to ask a quick question:

Consider a user who has already visited opens website after a few days. Initially old assets from SW will be loaded and then latest assets will be downloaded in the background. Once new version is downloaded an update dialog can be shown to user.

I think its apt to show dialog box for user who is active on site for a whi

[2017-03-09 14:05] NekR commented on #202
Just apply update without dialog and reload the page.

[2017-03-09 14:53] NekR commented on #202
I wrote that assuming you already know how to handle `offline-plugin` events and already showing a dialog to the users. So pretty much you just need to detect your case somehow (user came back after some time) and just reload the page after update.

[2017-03-09 15:53] vrpruthvi commented on #202
Thanks for the reply. I tried what you have mentioned earlier and found that page refreshes twice. Can it be possible to do in a single reload?

[2017-03-09 16:10] NekR commented on #202
Nope. It has to update and then reload to has the update to take effect. When users load page they just load it from the cache, so not possible in one load.

You may try to set `responseStrategy: 'network-first'`, in this case all requests first will be trying to get content from the network and if that fails, they will fallback to the cache.

[2017-03-09 20:04] LestaD opened #203 "Webpack 2 support"
Does offline-plugin have [webpack2](https://webpack.js.org) support?

[2017-03-09 21:20] NekR commented on #203
Yes.

[2017-03-09 21:20] #203 closed

[2017-03-09 21:21] NekR commented on #203
I mean, yes it's does, just use it with webpack 2. If you have any problems with it let me know, but here shouldn't be any.

[2017-03-10 00:52] vrpruthvi commented on #202
Cool, I will try that out. Thanks for helping out!

[2017-03-10 00:52] #202 closed

[2017-03-10 05:21] vrpruthvi commented on #202
@NekR `responseStrategy: 'network-first'` is what I was looking for! works like a charm :)

[2017-03-10 12:48] NekR commented on #202
Great :-)

[2017-03-12 01:00] fusionstrings commented on #184
I am also facing the similar issue, we want to make our client-side code host domain agnostic and serve from CDN, without building multiple times.

in short `__webpack_public_path__ = '/dynamic-path/'` this would work if offline-plugin supports it. Anything similar which would allow to set publicPath at runtime or set it automatically as well.

[2017-03-12 02:57] NekR commented on #184
Yeah, I see a point it. Would be good to add it.

[2017-03-12 14:56] jameslnewell opened #204 "Add an option to uglify"
Hi,

I'm using `babili-webpack-plugin`, not `webpack.optimize.UglifyJsPlugin` to minify my JS (because `babili` supports ES6 left untranspiled by `babel-preset-env`). Could we add an option to turn minification on?

[2017-03-12 16:34] NekR commented on #204
Okay, that makes sense. See my review :-)

[2017-03-13 02:11] NekR commented on #204
Closed in #206.

[2017-03-13 02:11] #204 closed

[2017-03-13 02:52] wyqydsyq commented on #184
@NekR I tried your example and you're right that it works, I must have had the `publicPath` properties the wrong way around, which leads me to what I believe to be an actionable here; the `publicPath` property under the `ServiceWorker` option needs to be renamed to make a clear distinction between the behaviour of it and the top level option.

Something like this would make more sense:
[code]

Sin

[2017-03-13 04:45] v0lkan commented on #24
For the record, I had a similar issue; and worked around it by explicitly unregistering the ServiceWorker if I find a version mismatch ( [link to relevant file on my project](https://github.com/jsbites/bytesized.tv.web/blob/763d10021d9e5be1641a0b0cc8f1eb5795ae7a91/src/lib/offline.js)  )

[code]

Where `version.txt` is never cached, so any mismatch means that the sw cache is lagging behind, so I ki

[2017-03-13 11:50] NekR commented on #24
@v0lkan this issue is pretty old and I'm now sure what it's about tbh. There is `responseStrategy: 'network-first'` option now which loads assets from the network first and if it fails, loads them from the cache.

I also don't see why there could be problem with cache/SW updates because I and other people do not have them with current version of `offline-plugin`.

About `ignoreSearch`, there is no

[2017-03-13 16:49] v0lkan commented on #24
Got it. — Thanks for the information Arthur.

[2017-03-13 16:54] v0lkan commented on #24
Probably due to some weird race condition going on in CloudFront/S3/AWS or somewhere in between.

For what it’s worth, my entry point (index.html) gets served from the cache unless I explicitly kill the service worker (with the above snippet)

It migh very well be a timeout issue, and if I wait long enough, or if I restart chrome or reboot my system etc, it might update itself. — Not sure — If it’

[2017-03-13 17:33] NekR commented on #24
That's fine, it supposed to work that way. Why do you need to kill it?

I don't think you have any problems here 🙂, just check out this guide https://github.com/NekR/offline-plugin/blob/master/docs/updates.md

[2017-03-13 17:33] NekR commented on #24
I still don't understand what exactly you are trying to do. What is it?

[2017-03-13 18:46] v0lkan commented on #24
Because my index.html has changed (because I deployed a new version) but closing all the tabs, killing chrome, and reloading the page, cmd+refreshing the page, refreshing the page… etc… etc… ws still loaded the old index.html. — It might be due to sw.js being cached too, I need to check that.

I’ll checkout the guide, and retry it with a sane mind tonight. — Maybe it’s just gremlins walking in my

[2017-03-13 18:59] NekR commented on #24
Yes, that's the only possible reason then. Always server `sw.js` with `Cache-Control: no-store`.

Let me know if it works or not :-)

[2017-03-13 19:06] v0lkan commented on #24
Will do.

[2017-03-14 02:13] v0lkan commented on #24
So what I did

* Used `http-server` Node.JS global app with 10 seconds cache time
* Made sure that I waited 30 seconds between every refresh etc.
* Enabled cache from dev tools so that I can keep dev tools open w/o interfering anything
* Loaded the page
* Index page with `alert(1)` is displayed (expected)
* Updated sw version
* Updated index.html; set `alert(2)`
* Closed the tab.
* Waited for 30 s

[2017-03-14 02:24] NekR commented on #24
Nope, it updates an assets if its hash changed, not name. Even if you have different names but the same hash of the file, `offline-plugin` is being able to detect if that's the same fine, and vice-versa if not.

For external assets that procedure isn't performed because their hashes aren't available.

Anyway, you are just doing thing in a wrong order, this is the correct one:

* Used `http-server`

[2017-03-14 02:25] NekR commented on #24
Also, when we will figure this out we'll be to move to `offline-plugin`'s events: https://github.com/NekR/offline-plugin/blob/master/docs/runtime.md#install-options which should eliminate the need of your snippet.

[2017-03-14 02:27] v0lkan commented on #24
Let me try with that order.

[2017-03-14 02:58] v0lkan commented on #24
Okay, so good news :)

It worked as defined.

The reasons of it not working in my former case was that I needed some coffee :)

Seriously though, I was being “clever” by just updating the “version” on the generated sw.js file manually, without touching the `hashesMap` section which is a hashmap of assets to track.

So when I did my changes through webpack (i.e. changing index.ejs and generating a

[2017-03-14 02:59] v0lkan commented on #24
note I used both cacheStrategy "all" and "updated", and the result was positive 👍

[2017-03-14 03:06] NekR commented on #24
@v0lkan great! Also check this section about `offline-plugin` events: https://github.com/NekR/offline-plugin/blob/master/docs/updates.md#config, it might be helpful if you wanted to apply updates faster, control them, etc.

[2017-03-14 03:09] v0lkan commented on #24
Sure I’ll check the config section; since I can attach to events I probably don’t need to use my snippet.

Though, I’ll still use an identical strategy  for the paranoid users who never close their tabs. By definition, service worker will not register itself unless you close all the tabs you know.

Thanks for all the help.

Have a great night.

[2017-03-14 03:12] NekR commented on #24
That's why you may need `runtime.applyUpdate()` which forces update even if tabs are open. Also there is `autoUpdate` option for paranoid users who never close their tabs 😉

What I'm trying to say is that there is already a lot of functionality in `offline-plugin` itself so you probably don't need all your hacks. But well, if those hacks work for you, then that's fine too :-)

[2017-03-14 03:54] v0lkan commented on #24
Totally agree with that; [I love wheel-reinvention](http://blog.geekli.st/post/111932989787/grab-your-chisel-and-start-pounding-a-guest), but I’m also a pragmatist ;)  — My hacked saved my day, and I’ll for sure use `runtime.applyUpdate()` and its sister events etc to make it work “by the book”.

As a tangential note; here how Chrome makes a request to sw.js

[code]

which means, it will always re

[2017-03-16 22:42] zackify commented on #189
Any word on a release? It's up to 50 unique times now.

[2017-03-17 16:41] NekR commented on #189
Okay-okay, published: https://github.com/NekR/offline-plugin/releases/tag/v4.6.2

[2017-03-17 16:41] #189 closed

[2017-03-17 16:42] zackify commented on #189
Haha thanks!!!

[2017-03-18 17:22] simran66 opened #209 "no cache or service worker file created"
I am trying to use offline plugin. The options look amazing.I am using React ,SSR with webpack.

But no service worker gets created.

I have tried in both development and production mode. I am using this https://github.com/erikras/react-redux-universal-hot-example boilerplate. I have added offline plugin in webpack config.
and

[code]

this code in index.js but it does not seem to work. No errors

[2017-03-18 18:06] NekR commented on #209
Hi @simran66, it's really hard to tell if you missed something or not. It sounds like you did everything right.

* Before `OfflinePluginRuntime.install()` do you do `var OfflinePluginRuntime = require('offline-plugin/runtime')`?
* Can you share your webpack config?

[2017-03-18 18:38] simran66 commented on #209
@NekR : Hey, Thanks for your response..

Yes, I required it before calling install.

This is what my webpack looks like:

`require('babel-polyfill');

// Webpack config for development
var fs = require('fs');
var path = require('path');
var webpack = require('webpack');
var assetsPath = path.resolve(__dirname, '../static/dist');
var host = (process.env.HOST || 'localhost');
var port = (+process.en

[2017-03-18 20:04] NekR commented on #209
hmm.. I don't know to be honest, everything seems fine and it should generate ServiceWorker/AppCache files.

[2017-03-19 01:18] likeabbas commented on #173
I'm running a Dex website where I have all images from another CDN's url /images/ and these images are being added routinely. Having the wild card would make this much easier. Also, the actual sw.js does wildcards I believe

[2017-03-19 22:20] NekR commented on #209
I'm going to close this until we have more info about this situation or a repro.

[2017-03-19 22:20] #209 closed

[2017-03-21 20:48] enzoaeneas opened #210 "AppCache events only fire once"
The code within manifest.html removes the events after five seconds  (cleanuptimer) and does not reattch them. My application may be updated at anytime while thee browser is running, and  I need to notify my users that an update is ready.
Currently events will only fire when the application is loaded.

[2017-03-21 23:06] NekR commented on #210
I see, thank for reporting it. PR is welcome to fix that (since you already figured out what the code does).

[2017-03-22 11:56] #1 closed

[2017-03-22 11:56] NekR commented on #17
Sorry, I don't see a use for it anymore. PR is welcome if anyone needs this feature, I don't and it's too complicated to implement.

[2017-03-22 11:56] #17 closed

[2017-03-22 12:02] NekR commented on #107
Too complicated for the moment.

[2017-03-22 12:02] #107 closed

[2017-03-22 12:03] NekR commented on #122
`cacheMaps` should be used in case of `network-first`.

[2017-03-22 12:03] #122 closed

[2017-03-22 12:05] NekR commented on #124
Will be fixed in v5 (code already landed).

[2017-03-22 12:05] #124 closed

[2017-03-22 12:05] NekR commented on #128
Closing. If any one is wishing to transfer some bits of this discussion to docs -- feel free to do so.

[2017-03-22 12:05] #128 closed

[2017-03-22 12:06] NekR commented on #131
Tracking in #138

[2017-03-22 12:06] #131 closed

[2017-03-22 12:11] NekR opened #211 "Transfer logo to separate repository"
... a link all LICENSE logo link to that repo (hence having logo licensed in that repo separately too).

[2017-03-22 12:12] NekR opened #212 "Move `empty-entry.js` somewhere else out of root"

[2017-03-22 12:13] NekR commented on #175
@haf, so, can I have a repro for this?

[2017-03-22 14:08] simran66 opened #213 "service worker failing on localhost with webpack"
I have added this plugin

[code]

in my production webpack config.

in index.js

[code]

I am using react with server side rendering. On service worker installation step, it fails:

Operation has failed. Unknown reason.

In warnings, I see

Long running javascript task took 507 ms.

In debug I see:

Service Worker termination by a timeout timer was canceled because DevTools is attached.

How do I

[2017-03-22 15:33] NekR commented on #184
@wyqydsyq Yes, I think renaming it to `registerPath` makes sense. PR is welcome if you want to do so.

Also if someone wants to help with adding "dynamic public path support" it's welcome too 👍

[2017-03-22 16:55] haf commented on #175
Well, I gave you one the day I filed, but it's been removed because it broke our site by downloading older file hashes.

We won't be able to try this plugin out for another few months until we've verified it won't break our app again.

[2017-03-22 16:55] #175 closed

[2017-03-22 19:19] tkh44 commented on #213
ServiceWorker will only work over https.

[2017-03-22 19:24] simran66 commented on #213
@tkh44 : Even on localhost? How do I set https up on localhost? Ofcourse I need to test service worker functionality and write some code

[2017-03-22 19:26] NekR commented on #213
On `localhost` and `127.0.0.1` it works without https.

[2017-03-22 19:28] NekR commented on #213
@simran66 how do you know that it's ServiceWorker failing and not something else? Why do you think it isn't being installed?

Also, please, provide a repro. If you cannot provide a live repro website, then a github repo with reproduction would work too.

[2017-03-22 19:30] tkh44 commented on #213
@NekR sorry, I stand corrected.

[2017-03-22 19:31] simran66 commented on #213
@NekR : I thought so because It shows "installing" in service worker and then starts showing that error. Other than that, service worker events are never really triggered

[2017-03-22 19:32] NekR commented on #213
@tkh44 hey, no problem :-) Just corrected it to remove the confusion.

[2017-03-22 19:32] NekR commented on #213
@simran66 where does it show that error? In console? In DevTools -> Application -> ServiceWorker?

[2017-03-22 19:45] simran66 commented on #213
@NekR : That's right. Right there

[2017-03-22 19:54] NekR commented on #213
Okay, that error is Chrome specific error which is thrown when something wrong happens with ServiceWorker. I have no idea what exactly. It might be even related only to your specific Chrome installation.

Anyway, please, provide a repro, I said that a lot of times already. I cannot guess and magically fix things for you, so no repro -- no issue. Sorry.

[2017-03-22 19:58] NekR opened #214 "Caching index.html"
Caching `index.html` with `HtmlWebpackPlugin` (but probably with `externals` too) generates cache URLs too, but makes incorrect URLs for `navigateFallbackURL` and `cacheMaps`, e.g.: it becomes `/` for caches and `/index.html` navigation fallbacks.

[2017-03-23 12:46] simran-k opened #215 "making react ssr app work offline"
I am using https://github.com/erikras/react-redux-universal-hot-example boilerplate for my react-app that uses server side rendering.

My question is how do I make it work offline?

All of the project links that are listed as using offline-plugin, none of those really load when I go offline.

The browser just says there is no internet connection. For ex: https://phenomic.io/ .

Is that not what it

[2017-03-23 12:56] GGAlanSmithee commented on #215
@simran-k loading https://phenomic.io/ in offline mode after first having it cached shows the resources being loaded from the service worker like it's supposed to - is this not what you are seeing?

![image](https://cloud.githubusercontent.com/assets/11805103/24248590/59b9984a-0fd0-11e7-87f0-59b3de29712c.png)

[2017-03-23 13:05] simran-k commented on #215
@GGAlanSmithee : That is not what I see at all for phenomic.io. I am on Chrome and ubuntu system.

when online but after caching of assets:
![phenomic](https://cloud.githubusercontent.com/assets/17847555/24248916/5ff51000-0ff7-11e7-840e-5af3921dbe7e.png)

when offline
![phenomic2](https://cloud.githubusercontent.com/assets/17847555/24248937/70c5b182-0ff7-11e7-9b59-4ae5136a506c.png)

My website is

[2017-03-23 13:14] GGAlanSmithee commented on #215
What can you see regarding phenomic.io if you go to chrome://serviceworker-internals/ ?

![image](https://cloud.githubusercontent.com/assets/11805103/24249280/eeecd448-0fd2-11e7-802e-f1e497b68708.png)

[2017-03-23 13:19] simran-k commented on #215
This is what I see:

![internals](https://cloud.githubusercontent.com/assets/17847555/24249496/80827a7c-0ff9-11e7-9b1c-cdd765d509f5.png)

[2017-03-23 13:28] GGAlanSmithee commented on #215
I can see our version id differs quite a lot, just to make sure there is no ghost haunting, try closing all phenomic tabs, delete the phenomic sw from chrome://serviceworker-internals/ and then reload phenomic.io first normally, then without internet connection

[2017-03-23 13:43] simran-k commented on #215
@GGAlanSmithee : Hey, What exactly is a version id and what it exactly does? Turns out the page does not display if I have my console open.loads if not. So, I was always using offline checkbox from console tool and it always failed that way. If I turn my internet off, it works. But I am never really able to see "from service worker" as you do in your snapshot. Would you know why is this happening

[2017-03-23 13:50] GGAlanSmithee commented on #215
@simran-k Sorry for the confusion, the version id is unrelated.

Using the offline tick works, and should work:

Please try doing exactly this:

1. Close any tab with phenomic.io
2. Remove current service worker from chrome://serviceworker-internals/
3. Open phenomic.io in a new tab
4. Close the tab
5. Open phenomic.io in a new tab
6. Reload the tab with network throttling = offline

Does this wor

[2017-03-23 14:34] NekR commented on #215
Interesting. What's none really load?

It works for me just fine.

We cannot help you because something wrong is with your browser.

Something wrong with your browser. Try Firefox maybe. Reinstall Chrome. Or maybe even tell us your Chrome version. Anyway, closing now. Feel free to chat here though.

@GGAlanSmithee thanks for handling this! 👌

[2017-03-23 14:34] #215 closed

[2017-03-23 14:36] NekR commented on #215
Oh, why I'm closing this: Your browser isn't working properly so we won't be able to figure out what's its issue or `offline-plugin`'s. Once your browser works properly and basic websites which are offline-capable start working, then we can open another issue and try to figure out `offline-plugin`'s issues, if any.

[2017-03-23 14:41] NekR commented on #213
Okay, I'm closing this. If you really want to solve it, then prepare a reproduction. Thanks.

[2017-03-23 14:41] #213 closed

[2017-03-23 14:41] NekR commented on #214
False alarm.

[2017-03-23 14:41] #214 closed

[2017-03-23 15:11] primozs commented on #215
Hi,
I have a similar Issue:
Service workers seams to be registered but on offline does not work. What could be the issue?
Maybe the "/" http://localhost:8888/ instead of http://localhost:8888

Screenshots
<img width="786" alt="screen shot 2017-03-23 at 16 09 12" src="https://cloud.githubusercontent.com/assets/1006789/24254407/1fda3504-0fe3-11e7-91ad-413123190f12.png">
<img width="580" alt="screen

[2017-03-23 15:29] NekR commented on #215
@primozs I don't remember actually. I saw such behavior couple of times, but cannot remember what went wrong. Is this happening only for your website or with all websites which use ServiceWorker (e.g. same as the author of this issue have)?

[2017-03-23 15:40] primozs commented on #215
Hi, @NekR
https://phenomic.io/ works for me and there I actually noticed that when I set offline service worker list stays the same in DevTools. I don't think "/" is the problem since service workers from others also have it.

My webpack config is:
Result is the same without this custom settings
[code]

Runtime I have like this:
Screenshots were made with NODE_ENV=production SERVER=dev pm2 start b

[2017-03-23 21:24] primozs commented on #215
my final webpack config is
[code]
I have deployed the app to http domain and for a while it was working offline. Now its not.
It seams It works a bit random. https://pisarna.naviter.com:8080/

[2017-03-23 21:24] NekR commented on #215
@primozs if you will have a repro I'll be able to help you / debug the code. Or you meant that you are using phenomic? I recently built a fully SSR phenomic app with `offline-plugin` and everything was just fine.

[2017-03-23 21:26] NekR commented on #215
@primozs okay, so you just posted a link, I wanted to say that I missed the comment and you deleted it. Turns out you posted it in a minute before my comment.

So.. what we are going to do with this?

[2017-03-23 21:26] primozs commented on #215
@NekR Hi I dont have public repo but this is currently publicly debuggable https://pisarna.naviter.com:8080/

[2017-03-23 21:28] NekR commented on #215
@primozs that will work just fine :-) I don't need a public repo to debug.

[2017-03-23 21:30] primozs commented on #215
@NekR :) Thx for your eyes

[2017-03-23 21:33] NekR commented on #215
Okay, so `externals` option doesn't support wildcard so ` '*.ttf'` rule fails. But you use externals only in `additional` section so it's weird that it prevents whole SW installation. Maybe that isn't the reason though.

@primozs  Can you try to remove that rule and deploy website again?

[2017-03-23 21:34] primozs commented on #215
@NekR Yes I will try! Thx

[2017-03-23 21:44] NekR commented on #215
@primozs let me know the results please. I'll need to fix it if that was the issue.

[2017-03-23 22:02] primozs commented on #215
@NekR Hey, its not working. When I made the deploy the first time it was working for a short while. Not sure but is it possible that the problem is that I don't have index.html to cache? Maybe the problem is also how react router and code splitting on routes works? Offline was working only on the   initial route. When I set routes in externals then it was making redirects to home page and routes w

[2017-03-23 22:07] NekR commented on #215
Well, not caching any html pages is the issue. It of course cannot be accessible offline if it has no html to display.

[2017-03-23 22:09] NekR commented on #215
@GGAlanSmithee hey, if you have time, do you have any ideas about how to write clear docs about SPA/AppShell/routes and `ServiceWorker.navigateFallbackURL` option? Because I'm kind of tired figuring out issues with "no accessible on routes"..

[2017-03-23 22:14] NekR commented on #215
@primozs in your case you need something like this, assuming `/` is where your AppShell is located. If you don't have one you should create it. Otherwise you will need to specify all your routes in `externals` manually.

[code]

[2017-03-23 22:20] GGAlanSmithee commented on #215
@NekR

sure! I  will try to get time tomorrow to send a PR

@primozs

just to make sure - you are using **https**, right?

[2017-03-23 22:22] NekR commented on #215
@GGAlanSmithee thank you!

Yeah, it's https, I have a link to website. SW is being installed, it just doesn't serve html when offline and I missed that html isn't being cached.

[2017-03-23 22:24] primozs commented on #215
@GGAlanSmithee Hi, Yes I am using https. I think when it was kind of working I had '/' in externals.
I will update the config like @NekR suggested. Thank you both!
Cheers

[2017-03-24 09:52] simran-k opened #217 "how to cache html generated from JS"
I am using ReactJS SSR and my html is generated from a react component

1. How do I cache this using offline plugin to enable off line access.
 2. How do I cache my images serviced from cdn? By specifying link to all of those images in externals or is there a better way to do it?

This is what my html generating component looks like. Of course other components are embedded in it. What do I exactly

[2017-03-24 10:04] GGAlanSmithee commented on #217
@simran-k

How your HTML is generated has aboslutley nothing to do with offline-plugin / ServiceWorker. It will cache resources that is served to the client, given your configuration. Can you please be a bit more specific with what problem you are experiencing?

Yes, given that you have `caches: all`, listing them as `externals` should be it. Not sure if `externals` support wildcards / regex / glo

[2017-03-24 10:11] simran66 commented on #217
These are the resources that are cached by service worker. My home page is at localhost:3000/ . How do I cache the page and render it offline?
I see homepage is always cached in offline supported web apps.

![cached](https://cloud.githubusercontent.com/assets/4191009/24289630/1922079e-10a8-11e7-8138-da10b04230eb.png)

[2017-03-24 10:12] simran66 commented on #217
This is what my configuration looks like for offline plugin in webpack:

[code]

[2017-03-24 10:28] simran66 commented on #217
@GGAlanSmithee : Could I get a direction on this please?

[2017-03-24 10:35] GGAlanSmithee commented on #217
@simran66 your `caches.main` looks a bit suspicious, are you really serving your public assets from a folder called `src`?

See https://github.com/NekR/offline-plugin/blob/master/docs/caches.md#cache-sections

Your config depends on how you serve your assets, but try

[code]

[2017-03-24 10:36] NekR commented on #217
@simran-k @simran66 lol, are you spamming here with 2 accounts?

[2017-03-24 10:37] NekR commented on #217
@GGAlanSmithee I just realized that it's the same person and it's 4th issue by hear about the same thing...

[2017-03-24 10:38] GGAlanSmithee commented on #217
@NekR Yeah, I thought the same, a bit weird.

[2017-03-24 10:39] GGAlanSmithee commented on #217
@simran-k these questions are answered in the documentation, please read it and you should be able to make it work!

[2017-03-24 10:39] #217 closed

[2017-03-24 10:39] simran66 commented on #217
@NekR : Lol Naaah! Have different accounts open in diff. browsers

[2017-03-24 10:43] simran66 commented on #217
@GGAlanSmithee : That's what I thought and tried too. With that I get:

WARNING in OfflinePlugin: Cache asset [/] is not found in the output assets,if it's an external asset, put it to the |externals| option to remove this warning

[2017-03-24 10:58] NekR commented on #217
@simran66 that warning already says what to do and you can find answers in the docs. Don't be lazy, read it instead of asking ask about everything.

[2017-03-24 10:59] NekR commented on #217
@GGAlanSmithee

Not it doesn't. That's just static list of externals.

[2017-03-24 11:00] NekR commented on #217
@GGAlanSmithee do you think `externals` is unfortunate name? I called it so because things listed there are externals to webpack build assets. Not sure if that's best naming though.

[2017-03-24 11:06] simran66 commented on #217
@NekR : I am REALLY not being lazy here. Trying to find a solution. I have read your entire documentation. May be I am doomed at this and am killing my time possibly here.

THE ONLY QUESTION I have been tryin to get you to answer is,

how do I cache the file/component called on my application startup.

I have tried passing 'localhost:3000' and '/' in externals but could not get it to work. If I wa

[2017-03-24 11:17] NekR commented on #217
Okay, enough.

[2017-03-24 15:02] NekR commented on #212
Fixed in https://github.com/NekR/offline-plugin/pull/218
Thanks @zouhir

[2017-03-24 15:02] #212 closed

[2017-03-24 18:34] NekR opened #219 "Create "AppCache limitations" doc"

[2017-03-24 22:53] enzoaeneas commented on #210
I'll take a look this weekend at how to get the options into the templated
manifest.html code and then submit a PR.

On Tue, Mar 21, 2017, 19:06 Arthur Stolyar <notifications@github.com> wrote:

--
Kevin James

[2017-03-24 22:59] NekR commented on #210
@enzoaeneas okay, thank you! Feel free to ask questions if something won't be clear.

[2017-03-26 20:33] NekR opened #220 "Watch mode, caches and plugins"
In watch mode, on a second and following rebuilds `offline-plugin` reports it cannot find `index.html` or in output assets. `index.html` is being added with `html-webpack-plugin`. Same happens with assets added by `copy-webpack-plugin`.

[2017-03-29 18:34] jeffposnick commented on #213
FYI, I've seen some other reports of general service worker installation failures in Chrome, unrelated to `offline-plugin`. Feel free to follow https://bugs.chromium.org/p/chromium/issues/detail?id=706491

[2017-03-29 21:48] NekR commented on #213
@jeffposnick Yeah, here https://github.com/NekR/offline-plugin/issues/215 is another issue by hero where she explains it in more details. Something with her Chrome installation, maybe current db/cache/file system. It just doesn't work there for any website.

[2017-03-29 21:49] NekR commented on #213
@jeffposnick and of course thanks for sharing url to the bug :-)

[2017-03-30 21:51] nicksrandall opened #222 "Question: separate public path for routes"
Hi, first off, thanks so much for support this plugin!

I'm wondering if there is a way to make this plugin support my use-case:

Let's say I have all my public assets (JavaScript/CSS) served from `www.example.com/static`
my "Single Page Application" is rooted to `www.example.com/render` such that any requests to `www.example.com/render/**/*` will always fallback to serve the base HTML that is at

[2017-03-31 06:59] GGAlanSmithee commented on #222
@nicksrandall see if [the SPA example](https://github.com/NekR/offline-plugin/blob/master/docs/examples/SPA.md) can be of help. You'd have to use the correct `publicPath` for your configuration / application.

[2017-03-31 10:07] sidhantpanda commented on #209
I'm using the plugin like this in the same boilerplate by @erikras

[code]

The service worker is getting registered but the app does not load in offline mode:

![Lighthouse screenshot](https://cdn.pbrd.co/images/PZTNAOZ24.png)

The logs show that the assets were cached:

![Console log](https://cdn.pbrd.co/images/Q020aWlvs.png)

@simran66 Please let me know if you happened to find a fix.

[2017-03-31 10:23] simran66 commented on #209
I did . The problem is scope of the service worker. We are creating service
worker in dist folder. Make it in static folder instead and register and
serve it from there. That will do the trick.

On 31 Mar 2017 3:37 p.m., "Sidhant Panda" <notifications@github.com> wrote:

[2017-03-31 10:46] sidhantpanda commented on #209
@simran66 Only the service worker or all the assests? Can you share your webpack config file please?

[2017-03-31 10:53] simran66 commented on #209
only the service worker. yeah.sharing in 5

On Fri, Mar 31, 2017 at 4:16 PM, Sidhant Panda <notifications@github.com>
wrote:

[2017-03-31 14:21] GGAlanSmithee commented on #209
@NekR the scope issue seems to come up fairly often, maybe we should add a bit of info about it in the FAQ section of the docs. Would you like a PR?

[2017-03-31 14:25] NekR commented on #209
@GGAlanSmithee Yes, PR would be great. Although I'm not sure if people will be able to find the answer unless they you what they are looking for. Maybe we should create another document, e.g. _ServiceWorker isn't working_ or _`offline-plugin` ins't working_ and list all possible issues there so they could try one-by-one until something helps them. What do you think?

[2017-03-31 15:04] GGAlanSmithee commented on #209
@NekR That's a great idea! Should be very "googelable" :) I will try to make a initial PR regarding that.

[2017-03-31 16:18] NekR commented on #222
You certainly do need more than one ServiceWorker. What you need is to make your `sw.js` be in root of your website, i.e. `/sw.js`, this was it will be able to cache both places.

Also you will need to configure `ServiceWorker.navigateFallbackURL` or `cacheMaps` option.  For that see already mentioned SPA example and this https://github.com/NekR/offline-plugin/blob/master/docs/caches.md.

[2017-03-31 16:35] NekR commented on #209
@GGAlanSmithee sounds great, thank you Alan! (no need to rush if something)

[2017-03-31 21:06] jeromecovington opened #224 "Question: multiple html payload entrypoints"
First of all thanks very much for your work on this.

My app currently does not have an ideal architecture, but I'm wondering if there is a way to continue to use `offline-plugin` regardless. It is not a SPA or app shell architecture, something I am actively working on as well.

At the point of this writing however, we can assume that the server sends static markup for the following three kinds of

[2017-03-31 21:50] NekR commented on #224
Hi! I think you architecture is just fine, that's how normal websites are done.
Problem here is that `offline-plugin` doesn't yet support caching of dynamic URLs. Everyone actually asks about that feature, but unfortunately it isn't done.

What you can do here is add `ServiceWorker.entry` option and implement such caching manually. Essentially it's just listening to `fetch` event and responding fr

[2017-03-31 22:14] jeromecovington commented on #224
Ha ha, thanks. I'll give that a shot.

[2017-03-31 22:38] jeromecovington commented on #224
I'm digging through closed issues as well. Will continue to do so as well as learn better the internals. However if you can think of any examples at some point, please share! Thanks again.

[2017-03-31 23:00] NekR commented on #68
We started adding some examples: https://github.com/NekR/offline-plugin/tree/master/docs/examples
Feel free to contribute, thanks!

[2017-03-31 23:00] #68 closed

[2017-03-31 23:01] NekR commented on #224
@jeromecovington I think you may found something useful in this issue: https://github.com/NekR/offline-plugin/issues/64

[2017-03-31 23:02] jeromecovington commented on #224
Yeah, the older issues are giving me a lot to work with. I'll close this and open follow up issues if need be. Thanks.

[2017-03-31 23:02] #224 closed

[2017-03-31 23:03] NekR commented on #224
Sure :-)

[2017-04-02 22:58] filipveschool opened #225 "is this only for webpack?"
Hi @NekR ,

Is this also possible to use with browserify compiling?

I am doing my internship now and am using reactboilerplate which uses your plugin for offline support.

But they are using webpack and my company wants me to use browserify :(.

Is this compatible somehow or not?

I hope you can help me please.

Sincerely

Filip

[2017-04-02 23:15] NekR commented on #225
Hi Flip. Unfortunately, yes, it's only for webpack. But why they want you to use exactly browserify and not something else? I suppose you'll have hard times porting everything from reacts boilerplate to browserify.

[2017-04-02 23:35] filipveschool commented on #225
@NekR I know and I wanna use webpack also, but they only know browserify and instead of learning webpack they want to make it difficult for me apparently :(.

I am doing my internship in new zealand and those people are very friendly and so on but also very stubborn about everything.

So yeah, dont know what to do now. :(

[2017-04-02 23:46] NekR commented on #225
Yeah, it's very sad.

I think you may want/need to use [`sw-precache`](https://github.com/GoogleChrome/sw-precache) in case of browserify. `sw-precache` is independent from a build tool you're using, just run it against generated files and that should be it :-)

[2017-04-02 23:48] filipveschool commented on #225
@NekR oke will try it. Hopefully it works. Because with your tool and reactboilerplate the whole project is almost finished and it actually works offline. But I just dont know why they are doing so stupid but yeah what can I do as intern? :(

[2017-04-02 23:58] NekR commented on #225
Good developer should be able to convince others to use the tool he/she likes, otherwise, what's the point, right? 😄 😇

[2017-04-02 23:58] #225 closed

[2017-04-03 05:57] sidhantpanda commented on #209
@GGAlanSmithee sounds good!
@simran66 can you share the config please?

[2017-04-03 16:01] jeromecovington opened #226 "Follow up: caching arbitrary externals (html payloads)"
I spent a good amount of time digging into prior issues, certain I would find what I needed, and so I closed https://github.com/NekR/offline-plugin/issues/224

However I still seem to be having trouble caching externals (the html payload for the specific page).

To be clear, the server handles the parsing of all parts of the path in order to extract the various parameters for deriving the data to

[2017-04-04 19:08] NekR commented on #226
HI @jeromecovington!

Here is an example (I already pointed you to it): https://github.com/NekR/offline-plugin/issues/64#issuecomment-223949743

[2017-04-04 19:10] jeromecovington commented on #226
Ah! Of course I lost track of that during my side trip into the `cacheMaps`, a custom entry point does seem helpful. Thanks.

[2017-04-05 02:35] pdiniz13 commented on #222
I'm having the same issue. I tried following the SPA example the problem is that my assets are being server out of static while the app is being server out of '/' If I set publicPath: '/' then the serviceWorker tries to fetch the static files at '/' instead of '/static'.  If I set it to publicPath: '/' then  it doesn't fetch the index file at '/'. I tried using
[code]

[2017-04-05 03:25] NekR commented on #222
ServiceWorker cannot cache things outside of its scope. If you generated it into `/static/` then that's its scope and it cannot cache `/`. You need to generated `sw.js` into `/` and your assets into `/static/`, easiest way to do it is by settings webpack's `output` path to your dist folder and setting `filename` option to `static/[name].js` or something like that.  If you generated other assets wi

[2017-04-05 04:20] rstacruz opened #227 "Question: how do we display a message if the content is stale?"
I'd like to display a message something like:

Is there an API I can take advantage of?

[2017-04-05 04:28] NekR commented on #227
https://zach.codes/handling-client-side-app-updates-with-service-workers/

[2017-04-05 04:29] NekR commented on #227
Here are more info about events if something: https://github.com/NekR/offline-plugin/blob/master/docs/runtime.md#install-options

[2017-04-05 04:30] NekR opened #228 "Create `Events` docs section explaining update reload/prompt"
Probably makes sense to refer to https://github.com/NekR/offline-plugin-pwa as an example of implementation.

[2017-04-05 04:38] rstacruz commented on #227
Neat! That'd make a good addition to the FAQ. :+1:

[2017-04-05 04:43] NekR commented on #227
Yeah, good idea :-)

[2017-04-05 04:44] NekR commented on #227
I already created issue for it: https://github.com/NekR/offline-plugin/issues/228 (will consider adding mention about it to the FAQ too)

[2017-04-05 04:44] #227 closed

[2017-04-05 04:45] NekR commented on #228
Probably also add mention of it to the FAQ, as suggested in https://github.com/NekR/offline-plugin/issues/227

[2017-04-06 08:08] GGAlanSmithee commented on #153
@NekR I decided to try using docute in an other project; http://ggalansmithee.github.io/Entities/#/ it was quite easy to set up, would you like me to give it an attempt for your repo? (Might take a buit if time - not super much free time atm).

[2017-04-06 09:10] NekR commented on #153
@GGAlanSmithee if you don't have much time then that's isn't necessary. We can definitely keep in mind this issue and when we'll have time we'll do it :-)

[2017-04-07 03:53] pdiniz13 commented on #222
This is what ended up working for me
[code]

[2017-04-08 10:59] NekR commented on #222
Not sure if that's the best way, but good if it works for you. Thanks @pdiniz13!

[2017-04-08 10:59] #222 closed

[2017-04-08 10:59] #226 closed

[2017-04-10 00:39] tsnieman opened #229 "offline-plugin not working for SPA app served locally"
- [**Example repo**](https://github.com/tsnieman/webpack2test/tree/offline-plugin_help1). Make sure you're using the `offline-plugin_help1` branch. Start it using `npm start:prod` (or `yarn start:prod`), wait for the build, then navigate to `http://localhost:4200`.

- [Configuration for offline plugin can be seen here](https://github.com/tsnieman/webpack2test/blob/ee7e86fce40a5162a37910b863ccc5f48

[2017-04-10 03:22] zouhir commented on #229
Hi @tsnieman
Your guesses might be correct, it's great that you shared the weback configs too!

What might solve your problem is copying the `index.html` from `src` to `public` and for that I usually use `copy-webpack-plugin` used probably be like:

[code]
and in your offline-plugin configs please uncomment `index.html`:
[code]

Now my only concern is your Web Server configs, is its entry point `l

[2017-04-11 00:40] NekR opened #231 "Response.redirected & `redirect: 'manual'` security restriction"
This need it be solved like this: https://github.com/GoogleChrome/sw-precache/pull/241/files (more info here: https://bugs.chromium.org/p/chromium/issues/detail?id=669363&desc=2#c1)

Except that we cannot force cache update for users (maybe yet) because we have no such functionality, so we'll also need to check on `fetch` event if cached/stored `Response` has `redirected` set to `true` and if so c

[2017-04-11 21:30] NekR commented on #229
Hi @tsnieman, as @zouhir mentioned, you have a problem with your server config/files structure.

Yes, but not only that.

Fist of all, you have to uncomment `index.html` here otherwise it won't in any situation.
https://github.com/tsnieman/webpack2test/blob/ee7e86fce40a5162a37910b863ccc5f48f3d6400/config/webpack.config.prod.js#L109
Second, you may want to move the `:rest:` to your `main` section o

[2017-04-11 22:59] tsnieman commented on #229
Ahhh, you guys rock. Thanks @zouhir @NekR. Reworked my static asset strategy (server config) and tweaked the OfflinePlugin settings and it seems to be working fine now! Here's a basic commit with the changes for anyone who might want/need it: https://github.com/tsnieman/webpack2test/commit/96418926feddfd276bf238494e7ff28941216b33

[2017-04-11 22:59] #229 closed

[2017-04-12 17:19] #231 closed

[2017-04-12 18:03] NekR opened #234 "v5"
#### CHANGELOG

* [Internals]: Async `waitUntil` is now a thing (polyfilled)
* Added `TypeScript` definitions
* RegExp support in cache paths [#205](https://github.com/NekR/offline-plugin/pull/205)
* Added `ServiceWorker.minify` option to force to minify () [#204](https://github.com/NekR/offline-plugin/pull/204) &  [#206](https://github.com/NekR/offline-plugin/pull/206)

[2017-04-13 18:03] tleunen opened #235 "Browser not receiving an updated SW"
It looks like some users of my app sometimes don't receive an event for an updated SW. Do you have an idea of what can cause that?

Inside the Application > SW tab in chrome, the status is activated and running, but with an old SW instead of the most recent one. It doesn't see there's a new SW to load/activate.

[2017-04-13 18:19] NekR commented on #235
Maybe you case your `sw.js` which you shouldn't do. That isn't really related to `offline-plugin`, SW update/refetch happens automatically by the browser. The only reason why it may not update your browser is because the one it just fetched is the same it has. So, you're either don't update SW file on your server or it's cached in the browser because you serve it with HTTP cache headers.

[2017-04-13 18:19] #235 closed

[2017-04-13 18:36] NekR commented on #235
What I mean is that you should try that first, if that isn't the case then I hardly it as a `offline-plugin` problem, but we can try to debug that somehow if you would provide more info.

[2017-04-13 18:44] tleunen commented on #235
Sure. Unfortunately I don't really have the time to debug it so I'll disable it for now and will get back at it asap.

I'll check the headers for `sw.js`. Maybe there were something wrong there. But it seems that even with an hard refresh, some users didn't get the new sw.js file. And I know there's a new one because other users got the new one.

It's also hard to debug because I've not experience

[2017-04-15 23:20] TheLarkInn opened #236 "[Enhancement] Add ability to pass function as value inside of `excludes` array."
Currently if you have a unique scenario where `minimatch` cannot find a complex or questionable path, there is no fallback for filtering assets that are allowed to go into the sw.js and appcache manifest.

With that in mind I'd like to propose a two part enhancement to offline-plugin.

## Phase 1: [Partial Implementation]: Allow predicate function to be passed as a value inside of the used array.

[2017-04-15 23:37] NekR commented on #236
I think partial implementation somehow should go into v4, even though I planned to not really any version of it except for bug fixing. We have a problem of merging the same code into both v4 and v5.

Full implementation definitely goes to v5.

[2017-04-16 12:13] NekR commented on #236
Also, I'm not 100% sure about the "full implementation". It's a bit different in `offline-plugin` than webpack itself, so maybe we'll end up using just a simple wrapper for all matches which will be accepting glob/regexp/functions.

[2017-04-16 12:15] TheLarkInn commented on #236
Correct, I would think of the condition in this case as unique to the "exclude" property, where essentially a string (abs path), regex, function() {}, and I suppose if you wanted to make it recursive you could but maybe that is where the line is drawn.

[2017-04-17 19:22] HelloDeadline opened #238 "RegExp in caches doesn't work"
When I pass an array of regular expressions, for example:

[code]
I get: `TypeError: cacheKey.indexOf is not a function`
It seems like the problem is `at OfflinePlugin.setAssets (%projectpath%\node_modules\offline-plugin\lib\index.js:447:11)`

I tried to remove `cacheKey.indexOf('./') !== 0` from source code, but then I got `TypeError: glob pattern string required`  which comes from `_miscUtils.ha

[2017-04-17 19:30] NekR commented on #238
That feature is not in v4. It will be in v5: https://github.com/NekR/offline-plugin/issues/234

[2017-04-17 19:39] HelloDeadline commented on #238
@NekR oh, okay, I didn't notice #234. It seems like updates to docks were merged before v5 release

[2017-04-17 20:45] NekR commented on #238
@HelloDeadline yeah, it's a bit of a mess :-(

[2017-04-18 08:56] GGAlanSmithee commented on #123
@NekR is all that needed to do to change this line https://github.com/NekR/offline-plugin/blob/master/src/index.js#L47 ? Want PR?

[2017-04-18 11:07] NekR commented on #123
Yes, only that. PR would be good :-)

[2017-04-23 05:38] NekR opened #240 "updateStrategy docs"
`updateStrategy` seems to be pretty popular in search request in the repo. Probably makes sense to have an explanation on it a link it from property description.

[2017-04-25 20:22] jampy commented on #210
IMHO that 5000 ms timeout effectively prevents *any* Application Cache events after 5000ms. So, if the application takes longer than 5 seconds to download, no `UpdateReady` is ever fired.

- what's the point in cleaning up anyway? It obviously makes sense to stop that 50ms interval, but why run also `removeEventListener`? I guess those three event listeners takes up less space in memory than the c

[2017-04-25 23:46] enzoaeneas commented on #210
Wow. It's been a month since I looked at this. I'll work on the
pull-request and get it submitted  :-P

On Tue, Apr 25, 2017 at 4:22 PM jampy <notifications@github.com> wrote:

--
Kevin James

[2017-04-25 23:47] NekR commented on #210
@enzoaeneas There is already a PR, see: https://github.com/NekR/offline-plugin/pull/241

[2017-04-26 10:04] rriverak opened #243 "Advanced Error Handling"
Hi,
first many thanks for this great Project.
We need to ensure that our application is always available offline.
Always in the latest version.

For this purpose, we have build a loadingscreen to process this.
However, there are some problems which we want to handle.

Here is a Sample from ServiceWorker:
[code]
Its possible to pass this exceptions and Errors to the _onUpdateFailed_ event ?
We want

[2017-04-26 12:30] christoferw opened #244 "Documentation: Fetch external"
Hi There!

its not clear for us when externals will be refreshed.

e.g. we have configured:

`            externals: [
                '/users',
				'http://code.jquery.com/jquery-latest.min.js',
				'https://fonts.googleapis.com/css?family=Titillium+Web:400,800'
            ],`

/users is used to get the json-list of users. When i add a users to that list(e.g in a backend) when will the offline-p

[2017-04-26 14:20] NekR commented on #244
Externals are fetched at the same time as main cache, i.e. on ServiceWorker/AppCache update. There is no TTL for caches, but I wouldn't recommend to cache users data like that. You did better use `window.caches` directly form your main code and cache/update when it's needed. This way  you will have more control.

Also about Google Fonts: it caches only stylesheet that way, not the fonts itself.

[2017-04-26 14:23] NekR commented on #243
Hi, thank you. It's probably possible to do that, but how did you manage to exceed the quota? It's at least 50MB for worst scenario (no free space on the device).

[2017-04-26 14:23] NekR commented on #243
or... is that AppCache error?

[2017-04-26 14:24] NekR commented on #243
or... is that AppCache error?

[2017-04-26 14:34] likebrain commented on #243
Hi,
it´s a ServiceWorker Error.
We would like more details than "broken".
It would help our support team solve problems.

Quota is just one example...
I have provoked this in which I have filled my hard disk to 99%.

[2017-04-26 14:37] NekR commented on #243
I see. That makes sense, but unfortunately it isn't very straightforward to get the error of fail. I'll think about it :-)

[2017-04-26 14:37] #238 closed

[2017-04-26 15:04] likebrain commented on #243
I think the easiest way would be to implement onerror...
This event is fired outside of the Serviceworker and catch all unhandled Exception.

https://developer.mozilla.org/de/docs/Web/API/ServiceWorkerContainer/onerror

[2017-04-27 16:17] christoferw commented on #244
When does the ServiceWorker/AppCache update, when the manifest-file changes? e.g. Version change?

[2017-04-27 16:23] NekR commented on #244
Right.

[2017-04-28 00:05] #244 closed

[2017-04-28 17:11] andylhansen opened #245 "Check for update before rendering page"
Is it possible for the service worker to check for an update before the page renders? I'd like to avoid the double page load if possible.

For example:
User visits web app.
User leaves web app.
I push update.
User comes back to web app.
User first sees cached version, then after a few seconds, the service worker finds and applies an update, refreshing the page.

It would be nice for the user if th

[2017-04-30 20:26] tconroy opened #246 "Caching webpack output assets when assets are served over a CDN"
Hey there,
more Service Worker examples assume that static assets (JS bundle, CSS bundle, images) are being served from the application server, and so are configured to cache assets from the same origin.

However, in many production-level apps, your static assets are served from a CDN. For example, I have a react app that builds the assets via webpack, rsync's the assets to a CDN, including the pr

[2017-05-01 12:30] begincalendar opened #247 "Pre-existing service worker and cleared cached storage prevents pre-caching."
According to this MDN [docs page](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API#Download_install_and_activate), specifically this paragraph:

I was experiencing undesirable behaviour in my application, where assets were not being pre-fetched appropriately.

I tracked down the problem to the above docs paragraph, specifically that the problem arises when you have a prior servi

[2017-05-01 20:39] NekR commented on #247
Why would you do that? Anyway, when new SW activates (when you close all tabs) it will pre-cache all assets and you will have your cache full again.

If user deletes their cache manually I don't see why `offline-plugin` should be trying to recover from that.

[2017-05-01 20:47] NekR commented on #246
@tconroy Hey. If you know your CDN URL upfront, e.g. it's not dynamic, then you can rewrite asset urls on built time. Also make sure CDN returns assets with proper CORS headers, otherwise that won't work.

You need `rewrites` option for that. See here how built-in one looks like: https://github.com/NekR/offline-plugin/blob/master/src/index.js#L29

[2017-05-01 21:43] NekR commented on #245
It isn't possible with SW, but what are the benefits of such way? What should happen if SW indeed needs a update, wait for all assets to download before showing anything?

[2017-05-01 23:22] begincalendar commented on #247
Sometimes people clear their browsing history and/or other data their browser has stored (e.g. cache storage).
Maybe they haven't even cleared the cache storage by will and the environment that they have operated the browser in, has done it automatically for them (e.g. on a library computer or something).

I tried clearing the cache and then re-opening the browser, but it does not do what you desc

[2017-05-02 00:00] NekR commented on #247
You're somehow misreading it. All tabs closed make new SW leave waiting state and became active. [Here more details.](https://github.com/NekR/offline-plugin/blob/master/docs/updates.md) Of course it will happen if you have build new SW, i.e. with a new version. If not, it's still the same ServiceWorker.

[2017-05-02 00:51] begincalendar commented on #247
Thanks for helping me understand service workers more.

If we take this scenario:

1. User visits website, never having visited before.
2. Service worker gets downloaded.
3. Service worker receives "install" event and runs "install" event handler.
4. Service worker receives "activate" event and runs "activate" event handler.
5. User performs action which fires a "fetch" event in the service worker

[2017-05-02 07:54] jampy commented on #142
Still need to install `babel-runtime` manually, since `buildDependencies` in `package.json` only lists `"babel": "^5.8.23"`.

[2017-05-02 18:27] andylhansen commented on #245
The benefit would be that the user wouldn't see a refresh after the app has already rendered. If the SW needs an update, then it would wait for all the assets to download before rendering the app.

[2017-05-03 05:36] jampy commented on #210
@enzoaeneas: do you have a chance to test #248?

[2017-05-03 14:35] enzoaeneas commented on #210
Let me see if I can get to it today. I'm working on a different projec
nowt, but I am still primary on the other. I test in Chrome latest and IE
11. I *may *be able to get Safari.

On Wed, May 3, 2017 at 1:36 AM jampy <notifications@github.com> wrote:

--
Kevin James

[2017-05-03 16:40] NekR commented on #247
Yes, I agree with that.

Yep.

I think it would be better as:
[code]

[2017-05-03 21:49] dmt0 opened #250 "Getting "Issue: runtime without the plugin", even though plugin was added to Webpack"
I'm on version 4.7. Webpack is on 2.4.1.

Getting a console log like so:

I have Webpack config split into files. Here's common.config.js:

[code]

here's test.config.js:

[code]

Also it was ignoring the fact that I have publicPath configure in webPack, so I had to explicitly set relativePaths: false. I added publicPath to OfflinePlugin config just in case.

[2017-05-03 22:45] NekR commented on #77
That's relative path, set it to absolute.

[2017-05-03 22:49] NekR commented on #250
@dmt0 your `publicPath` is relative. Setting `relativePaths` option to `false` won't help with that.

[2017-05-03 22:50] NekR commented on #250
Also I have no idea why it isn't detecting the runtime. I need a repro to be able to do something.

[2017-05-03 23:05] dmt0 commented on #250
@NekR can you point me, where in the code it's deciding to throw that warning? I see runtime.js, but can't figure out where it's being triggered. Let me see if I can cut out a repro. Did set path to absolute, thanks.

[2017-05-03 23:28] NekR commented on #250
https://github.com/NekR/offline-plugin/blob/master/runtime.js#L1

[2017-05-03 23:39] dmt0 commented on #250
Yeah, I saw that one, I meant what actually triggers runtime.js or is it the default fallback for what would normally be generated? Anyway, made a repro, hope it helps:
https://github.com/dmt0/repro

[2017-05-03 23:47] NekR commented on #250
That file is the default, a placeholder. It gets replaced with the real
code when plugin is added to webpack config. I'll check the repo, thanks!

On May 4, 2017 02:39, "Dmitry Shvedov" <notifications@github.com> wrote:

Yeah, I saw that one, I meant what actually triggers runtime.js or is it
the default fallback for what would normally be generated? Anyway, made a
repro, hope it helps:
https://gi

[2017-05-04 19:48] dmt0 commented on #250
I found my bug:
[code]
so test.config.js was never actually merged with common.config.js
Now everything works. Sorry, totally my glitch!

[2017-05-04 19:48] #250 closed

[2017-05-04 19:56] NekR commented on #250
No problem, have fun! :-)

On May 4, 2017 10:49 PM, "Dmitry Shvedov" <notifications@github.com> wrote:

[2017-05-05 18:22] NekR commented on #246
@tconroy hey, did it help? Should I close this issue or you still have problems with it?

[2017-05-05 18:24] NekR commented on #245
That would very poor user experience. Unless you have like 1-2 files in main cache.
Anyway, this isn't possible with SW, so I'm closing this. But if you are filling to discuss this further -- feel free too.

[2017-05-05 18:24] #245 closed

[2017-05-05 18:25] NekR commented on #245
Also you best bet on updating right now is this: [Handling Client Side App Updates (with Service Workers)](https://zach.codes/handling-client-side-app-updates-with-service-workers/)

[2017-05-05 18:26] NekR commented on #243
@likebrain Probably. Need to test if it's actually useful. In a meantime, you can assign a listener to it yourself in your code and on `onUpdateFailed` use the last error from it.

[2017-05-05 18:27] NekR commented on #236
@TheLarkInn do you mind looking into this https://github.com/NekR/offline-plugin/pull/242? Seems like a thing related to this, so would be good to have a solution which fits both cases.

[2017-05-05 18:30] #164 closed

[2017-05-05 18:31] NekR commented on #234
Chancing my mind. I'll be merging those features into v4.

[2017-05-05 18:31] #234 closed

[2017-05-05 19:55] tconroy commented on #246
Hi @NekR , thanks I think this helps. So we'd want to use the rewrites option for dist builds, and just not set it during local dev ( since it'll be served locally / with the app server ). Seems reasonable.

Thanks!

[2017-05-05 19:55] #246 closed

[2017-05-05 20:35] NekR commented on #246
Great, thanks for info! 👍

[2017-05-08 13:48] Khachatour opened #252 "Is not found in the output assets"
Hey there folks!
I am fairly new to this plugin and webpack overall.

I am getting these error

`OfflinePlugin: Cache asset [../index.html] is not found in the output assets,if it's an external asset, put it to the |externals| option to remove this warning
`
What am I doing wrong? Giving wrong paths in main section ?
Can someone suggest any help ?
Thanks in advance.

[2017-05-08 14:10] GGAlanSmithee commented on #252
As the error message suggests, the asset `index.html` is not generated by webpack. (It's probably a static html page, right?)

To fix this error, add the asset to the [externals option](https://github.com/NekR/offline-plugin/blob/master/docs/options.md#externals-arraystring) as the error message suggests.

If the error persists, please post your webpack config here.

[2017-05-08 14:51] Khachatour commented on #252
@GGAlanSmithee oh thanks just a 5 minutes ago I've found that out, so in assets section can I specify file with .vue extension ?

[2017-05-08 15:08] NekR commented on #252
In `caches` you reorder already generated assets and historically you're able to specify external URLs there. It's better to not touch `caches` section at all unless you really need it. Use `externals` instead to specify URLs to cache.

If .vue file is an URL, you can specify it. If it's a generated file, then it's already added to `caches` automatically.

[2017-05-09 06:44] Khachatour commented on #252
@NekR Thank you very much for the help!

[2017-05-09 10:01] NekR commented on #252
Sure 👌

[2017-05-09 10:01] #252 closed

[2017-05-09 13:03] Khachatour opened #253 "Page is reloading automatically"
After running a server my page is rapidly reloading itself, what could be a reason ?
Can someone suggest a solution ?
Sorry, I am fairly new to webpack and this awesome plugin.
Thanks in advance.

[2017-05-11 05:01] NekR commented on #253
Hi @Khachatour. I actually don't know, but it might be because you have "Update on reload" set in your DevTools and also using `offline-plugin`'s events to reload the page. So it gets into the loop.

[2017-05-12 15:51] Khachatour commented on #253
@NekR Oh thanks I think I've screwed that part. Thank you!! Will fix

[2017-05-12 17:38] #253 closed

[2017-05-15 21:48] nolanlawson opened #254 "Sourcemaps aren't generated when using UglifyJsPlugin"
Steps to repro:

    git clone https://github.com/nolanlawson/test-offline-plugin-sourcemap.git
    cd test-offline-plugin-sourcemap
    yarn
    yarn build

Notice that `devtool: 'source-map'` and `UglifyJsPlugin` are enabled, but `sw.js` doesn't have a sourcemap file:

[code]

To repro this, all I did was use `create-react-app`, eject it, and then add `offline-plugin` as one normally would ([see

[2017-05-15 22:24] NekR commented on #254
Hi Nolan! I'm to try to find how to do that with child compilation in webpack, but I do pre-transpile everything on build stage with babel. Is it okay to have sourcemap only from Uglify to generated code by Babel? I don't use source maps actually, so I'm not sure what's best here.

Also, what's that issue with CDN?

[2017-05-15 22:27] nolanlawson commented on #254
I'm not sure; I really don't understand much about how Webpack works. The CDN issue in the other issue is unrelated. :)

Maybe as a workaround, would it be possible to make `{minify: false}` disable minification even if the UglifyJsPlugin is in use? (Currently `{minify: false}` seems to be ignored if you use UglifyJsPlugin.) My sw.js file is small enough that I could probably just ship non-minifie

[2017-05-15 22:35] NekR commented on #254
@nolanlawson it should work actually, `minify` option is just not released. I know it's in the docs, I just have a bit of a mess with branches/releases at the time. I can release 4.8 with `minify` option.

I'm looking into how to make it honor source-maps settings. Btw, why do you need source-maps then, are you trying to debug some issue?

[2017-05-15 23:19] nolanlawson commented on #254
Yes, sourcemaps are very useful for debugging, especially in production (it's an open-source project, no worry about revealing source code).

[2017-05-15 23:20] NekR commented on #254
@nolanlawson I don't worry about source code :-) I just wasn't understanding why you needed to debug it until I saw that you're using custom `entry`. It makes sense now.

[2017-05-16 03:58] lmk123 commented on #220
I experiences this issue.

In watch mode, when I changed my code, webpack doesn't reload page because of below warning:

[code]

But I already add `./` to `externals`:

[code]

[2017-05-16 04:39] NekR commented on #220
It actually should update even with this issue. It just may not work (offline capabilities).

[2017-05-16 05:51] NekR commented on #254
Okay, after some research, this is how it should be done:

* Make sure webpack generated SW assets with source map: use filename/entryname with `.js` extension, it's hardcoded in webpack
* After webpack generates source map for the SW bundle, consume both code & source map and generated new ones with `offline-plugin` header (JSON config at the top of the file) prepended

[2017-05-16 05:52] pmadar opened #255 "Prefetching js chunks"
Does offline plugin with default config prefetch all js files automatically? For example if my app is split to multiple chunks by routes, does all other than actual route's chunk be prefetched?
I tested it with several configs but, it didn't work as I want. Still have to wait for fetching chunks when navigating.

[2017-05-16 05:58] NekR commented on #255
Hi @pmadar. Yes, by default it prefetched everything what was generated by webpack.

I'm not sure what issue you have here, but let's try to figure it out. Are you sure SW is being installed/registered at all? What does Chrome DevTools' `Application` Tab says?

[2017-05-16 06:03] pmadar commented on #255
Here is what i see in console:
![image](https://cloud.githubusercontent.com/assets/13347558/26091844/078be498-3a0e-11e7-871c-bdf58e4c03de.png)
Application:
![image](https://cloud.githubusercontent.com/assets/13347558/26091860/234e40b8-3a0e-11e7-85b6-42251e24a66c.png)

[2017-05-16 19:42] NekR commented on #210
I found some of my notes regarding AppCache statuses/events (pointer here instead of in the #248 PR to be to find it easier):

[code]

[2017-05-16 19:44] NekR commented on #210
That one excludes IE/Edge, but AFAIR it has similar to Chrome events/statuses, I just didn't test it a lot in IE/Edge.

[2017-05-16 23:44] TheoMer opened #256 "ERROR in OfflinePlugin: Plugin's runtime wasn't added to one of your bundle entries"
So I 'incorrectly' presumed that the correct place to add the runtime code was the app.js, which is the entry point in my react app. But this generated the above specified error.

My index.html file is generated by HtmlWebpackPlugin, so I then added the runtime code to the template used to build index.html, but this too generated errors.

My webpack.config file is as specified:

[code]

My index_t

[2017-05-17 01:19] kikoanis opened #257 "Extending networkFirstResponse"
I am trying to cache all responses before returning them. Something similar to this
[code]

Not sure if there is anyway to extend networkFirstResponse method in sw-template to accommodate the code above.

Great plugin BTW

[2017-05-17 06:23] GGAlanSmithee commented on #256
The error message is probably a red herring, as the runtime should be added to your client entry point (related https://github.com/NekR/offline-plugin/issues/152 and https://github.com/webpack/webpack/issues/3847).

Try specifying `babel-loader` instead of `babel` in `module.loaders` section of your webpack config and see if that makes the error go away.

[2017-05-17 16:51] #256 closed

[2017-05-17 16:56] TheoMer opened #258 "HowTo: cache Graphcool endpoint data for offline use"
Does anyone know how to cache graphcool data for continued use in an app in an offline state?

https://stackoverflow.com/questions/44030489/howto-cache-graphcool-data-for-offline-use

[2017-05-17 23:38] ndbroadbent commented on #197
@NekR Thanks for the explanation, here as well as #127. It makes sense why you don't want to add a hash to the service worker JS filename.

I'll treat this file like my `index.html`, where I purge the Cloudflare cache after uploading to S3.

[2017-05-18 04:35] lmk123 opened #259 "[Question] Are requests all been hangs up when Service Worker loading the additional caches?"
My config looks like this:

[code]

In `main.js`:

[code]

When I updated my site, it takes a long time during Service Worker's `activate` event because of there is an huge image (almost 9MB). Before `activate` event end, every request (such as `page-a.chunk.js` or just reload the page) has been hang up. After `activate` event end, the page reload itself and everything looks good.

Is this an expe

[2017-05-18 07:02] lmk123 commented on #259
I tested with an huge image (almost 9MB) and capture the Network screenshots:

<img width="1237" src="https://cloud.githubusercontent.com/assets/5035625/26190210/ca902576-3bda-11e7-8135-a180e3f017d0.png">

[2017-05-18 16:52] NekR commented on #259
Are you on http2? If not, then for sure you have a limit with a number of requests at a time.

[2017-05-18 16:57] NekR commented on #259
https://medium.com/@paularmstrong/twitter-lite-and-high-performance-react-progressive-web-apps-at-scale-d28a00e780a3#c8cf

[2017-05-18 19:07] archansel opened #260 "Web App Install Banner failed on React Starter Kit (RSK)"
Hi, I use [RSK](https://github.com/kriasoft/react-starter-kit) as my base project and offline-plugin as service worker. I want to enable [Web App Install Banner](https://developers.google.com/web/fundamentals/engage-and-retain/app-install-banners/) but when I tested it, it failed with this error

I think it's because `sw.js` is located in `assets` folder (RSK put all the bundle in assets folder).

[2017-05-18 19:27] NekR commented on #254
@nolanlawson I made a release which ships `minify` option and it's now possible to pass `true` or `false` to it (default is still `null`): https://github.com/NekR/offline-plugin/releases/tag/v4.8.0

[2017-05-18 19:33] NekR commented on #260
Try this:
[code]

[2017-05-18 19:36] NekR commented on #257
Thanks!

@kikoanis I'm not 100% sure what you're trying to do here. `offline-plugin` doesn't re-cache downloaded file in `networkFirstResponse` for a reason. If it would do so, you may end-up with cache mismatch where some files will be from one version and some from another. And that isn't good.

[2017-05-18 19:37] NekR commented on #255
@pmadar maybe you have to fail for the `.html` file to load? Because you don't cache any of it.

[2017-05-18 19:39] NekR commented on #258
@TheoMer you have to cache dynamic network requests manually, either in ServiceWorker or in main thread.

[2017-05-18 19:39] #258 closed

[2017-05-18 20:01] archansel commented on #260
Wow, I was going to sleep but can't help to try your answer. Already tried it but offline-plugin throws error

so I read again the [options](https://github.com/NekR/offline-plugin/blob/master/docs/options.md) documentation and change the setting to

[code]

it compiled but service worker failed with

Is it related to my express configuration?

[2017-05-18 20:16] NekR commented on #259
Okay, what I think you should do is just call `OfflinePluginRuntime.install()` in window's `load` event.

[2017-05-18 20:16] #259 closed

[2017-05-18 20:17] NekR commented on #260
@archansel not sure. Let me see what can I do to fix that.

[2017-05-18 20:20] NekR commented on #260
It actually should work, see this test: https://github.com/NekR/offline-plugin/blob/master/tests/legacy/fixtures/paths-implicit-absolute-outside/webpack.config.js

It has webpack's output set to `dist` and `../sw.js`/`../appcache` in `OfflinePlugin`. It generates expected structure: https://github.com/NekR/offline-plugin/tree/master/tests/legacy/fixtures/paths-implicit-absolute-outside/__expected

[2017-05-18 20:21] NekR commented on #260
If you have something like `app.use(express.static('assets'))` in your express code, then you will need to have the same for `sw.js`/`appcache`. Not sure if that function accepts individual files though.

[2017-05-18 20:43] kikoanis commented on #257
Oh so what you mean is that the networkFirstResponse method (and the corresponding cacheFirstResposne) are for when you visit a URL directly and not for any consecutive requests (Within SPA context).

I think now I have an idea on how to do this using the entry item in serviceWorker node by trying to query network first and if it fails then we go for the cache. If it succeeds then we try to cache

[2017-05-18 20:44] archansel commented on #260
No, there is no setting that use static `assets` folder in express but there is `app.use(express.static(path.join(__dirname, 'public')));`

So the `sw.js` file should exist in the build folder right? but it don't, I cant find it anywhere in my build folder with or without `publicPath` options

I though it's normal because Webpack bundle should be generated on the fly right? (I think), means it don

[2017-05-18 20:51] NekR commented on #260
webpack is exactly what makes your files exist and physical, it writes them to the disk, unless you're using webpack-dev-server.

In you case, `sw.js` should be generated into `build/public/` folder.

[2017-05-18 20:54] NekR commented on #257
I'm still not 100% sure what you mean :-)

ServiceWorker handles all, whatever requests. What I meant is that it doesn't update the cached assets when it downloads a new one in `networkFirstResponse`. And you shouldn't do that.

Yes, there is no filters right now. Response strategy is for all assets.

[2017-05-18 21:09] kikoanis commented on #257
networkFirstResponse. And you shouldn't do that

This is new to me. May I ask why I should not do that?.

I think I should have put more explanation into what I am after.

As part of full offline experience for users is to cache API responses so that users when they navigate from one URL to another would see previous content (fully) if they already visited them. I use the entry item in the service

[2017-05-18 21:09] archansel commented on #260
So I tried using bare project from RSK, add offline-plugin and simple `manifest.json`, the result is just the same with or without `publicPath` option. The `sw.js` file wasn't generated too

[2017-05-18 21:14] NekR commented on #260
`manifest.json` is totally unrelated. `publicPath` doesn't effect if SW is generated or not or where.
I'll try it with `react-starter-kit` later and let you know if it works or not.

[2017-05-18 21:15] NekR commented on #257
I answered that already in my first comment here:

[2017-05-18 21:23] NekR commented on #257
I see now. Okay, so that suggestion about "don't do that because that hurts cache and makes version mismatch" is related to scripts/css, i.e. to wepback generated content. If you are doing it with your API requests then that's fine.

Your problem is tough and there isn't really "right" solution for it. You either has to do 2 parallel request: one to cache and one to the network and then decide whi

[2017-05-18 21:31] kikoanis commented on #257
This implies I should not extend the code if it only caches static file. I think the ```entry``` item would suffice for my case.

Not sure about two parallel processes but I think what I should do is to only target responses that are only result of API requests and use Network first. Otherwise, just let the plugin does its job.

Thanks for your input and time into the issue.

[2017-05-18 21:38] NekR commented on #257
You can do whatever you want in your `entry`. What I meant is that you shouldn't copy-paste code from `offline-plugin`'s SW code, unless you know what you're doing of course, because the code isn't guaranteed to be working there.

I know understand what you want to have, but still don't get if you are copy-pasting the code from `sw-template.js` to your SW entry or if you're forking `offline-plugin

[2017-05-18 21:45] kikoanis commented on #257
My understanding and correct me if I am wrong is that the SW entry would be triggered each time you HTTP request. On the other hand, the network or cache strategies are only when you visit any URL within the site the first time. As you know, in single page applications, you would not down load static files again unless you refresh and you only navigate using javascript code using push and pull req

[2017-05-19 01:48] kikoanis commented on #257
Her is what I use in the entry

[code]

[2017-05-19 04:45] NekR commented on #197
@ndbroadbent that's probably okay, I'm not sure actually. Let us know if works or not for you 👍

[2017-05-19 04:50] NekR commented on #257
No, that's just SW code. But your listener to `fetch` event indeed will e triggered on any request, any other than those which are already handled by `offline-plugin`.

[2017-05-19 06:20] archansel commented on #260
@NekR found the problem

I run server using `yarn start`, that command run project in dev server and it doesn't actually build the bundle so the `sw.js` file never created. If I run `yarn run build` and run the server using `node build/server.js` the service worker doing just fine.

Is this problem related to running offline-plugin in webpack-dev-server?

[2017-05-19 06:48] GGAlanSmithee commented on #260
@archansel Without having any deep knowledge about RSK config/setup, in the config you posted there is the line;

[code]
`OfflinePlugin` is being added within that else clause, making it not being added in dev mode. Having said that, offline-plugin is not 100% compatible with dev-server, see https://github.com/NekR/offline-plugin/issues/138

[2017-05-19 07:18] archansel commented on #260
Checked again in my config, offline-plugin is at the same level as the snippet code not inside.

So it seems it's because webpack-dev-server, closing this issue now, at least it's still working in build mode. Thanks @NekR

[2017-05-19 07:18] #260 closed

[2017-05-19 08:22] archansel opened #261 "Pattern matching not working for externals"
Sorry to bother you again @NekR, I want to cache external files, I use this configuration

[code]

and the output `sw.js`

[code]

When I open in the browser, service worker throws errors

Is there no pattern matching in external?

[2017-05-19 13:41] #257 closed

[2017-05-19 19:07] NekR commented on #261
It doesn't support pattern in there.

[2017-05-19 19:07] #261 closed

[2017-05-20 04:14] archansel commented on #261
Do you have any suggestion how to get the list of my files in the external option without specifying one by one manually?

[2017-05-20 04:44] NekR commented on #261
If assets are generated by webpack, then it's already done for you automatically. If not, then you probably should make them go through webpack. If you don't want, the use something like `glob.sync` (from glob-node) to match assets on the file system.

[2017-05-20 05:18] archansel commented on #261
It is static assets (images, fonts, css) so RSK just copy then manually to build folder

I already tried using glob and its not working, turns out that I use asyn one, I'll try with the sync one. Thanks

[2017-05-20 05:21] NekR commented on #261
You are saying that like webpack cannot do that :-)

[2017-05-20 11:49] archansel commented on #261
Hahaha, I found it, a package to copy using webpack [copy-webpack-plugin](https://github.com/kevlened/copy-webpack-plugin), now `offline-plugin` cache static assets :D

[2017-05-20 13:21] pmadar commented on #255
@NekR I dont have html generated by webpack, it's rails app.
Thanks for your help, seem to be my issue. I'll try to figure it out on my own, I have just one question to make it completely clear. Should offline-plugin prefetch and load all js chunks asynchronously after loading main js file?

[2017-05-24 03:35] gilbarbara opened #264 "Best way to use with a CDN"
Hello,

I'm using this plugin for quite some time deploying directly to S3 with Cloudfront but I need to handle social bots used for sharing so we decided to serve the index with Nginx but still serving the assets from the CDN.
So I configured my webpack publicPath with the CDN URL and it builds correctly, however, subsequent loads apparently are not using the cache. Or better yet the service work

[2017-05-24 04:20] NekR commented on #264
@gilbarbara can you show what SW contents it generates? Not need to copy whole file content here, just a value `__wpo` variable which is the top of the file.

[2017-05-24 04:26] gilbarbara commented on #264
Sure!

[code]

[2017-05-24 18:12] NekR commented on #264
Okay, I don't see anything weird just yet. What do you mean SW waits for a while, like it does a request to server and only then uses the cache? Or what?

[2017-05-24 18:16] NekR commented on #255
What do you mean "should"? If it's configured to, it will do it.

[2017-05-24 18:27] gilbarbara commented on #264
@NekR
Yeah, it feels that the SW waits for the page load to kick in.

With the local publicPath ("/") with an active cache, the page loads in 1.5s and only after that, I see an `installing` message in the DevTools' Application tab.

With the CDN URL as publicPath, the page loads the assets from the cache but SW `installing` message appears before the page is ready, adding 3 seconds to the process.

[2017-05-24 18:43] NekR commented on #264
Oh, so you're talking here about installing.

I'm not 100% getting what you mean here, but no one is really controlling ServiceWorker's `install` event. If you mean that SW starts installing too early and blocks your page load then just call `OfflinePluginRuntime.install()` on `window.onload` rather than straight away.

[2017-05-24 22:27] gilbarbara commented on #264
So, this delay wasn't caused by the SW at all...

I tried to publish the app without the `offline-plugin` and the site still paused for 2-3 seconds when loading assets from the CDN.
With the `offline-plugin` installed the cache was being used correctly but the same behavior occurred.

The screenshot below illustrates the problem.

![cdn-delay](https://cloud.githubusercontent.com/assets/31954/26428

[2017-05-24 22:27] #264 closed

[2017-05-24 22:35] NekR commented on #264
Sure, you're welcome!

[2017-05-25 02:20] NekR opened #265 "Make `navigateFallbackForRedirects` default to `false`"
Having it default to `true` hurts some projects. I was considering it a breaking change and planned to do in v5, but now I think it's more like a bug.

[2017-05-25 05:23] pmadar commented on #255
Ok thank's, I meant if it's capable of...

[2017-05-25 05:51] NekR commented on #255
I'm still not sure what exactly you mean, but `offline-plugin` caches all webpack generated assets, unless you specify otherwise. If you'll have any other question let me know.

[2017-05-25 05:51] #255 closed

[2017-05-28 15:13] jampy commented on #210
@NekR: completely missed this since I was waiting for a reply in the PR.

Anyway, could you please explain what this stuff means? Thanks.

[2017-05-30 19:29] Kikobeats opened #266 "[Question] What is the correct way to cache image"
First of all, thank your for your time maintain this awesome project.

My question is related about how to cache assets images.

Currently I'm using the follow configuration:

[code]

And it works fine; However I have warning images in the terminal:

[code]

so, not sure if warning messge here is correct, or it's is recognizing my images as external resources, where it are local to the server.

Sh

[2017-05-30 21:02] GGAlanSmithee commented on #266
Hey @Kikobeats

The warning means that the asset is external to webpack, as in not processed (loaded) by webpack. You should follow the warning and move the images (and HTML page) to externals.

[2017-05-30 21:04] GGAlanSmithee commented on #266
@NekR seems like the naming of `externals` have caused confusion quite some time. Should we consider a more explicit name? Can't think of any that isn't really verbose though.

[2017-05-30 22:04] NekR commented on #266
It's external to the webpack build. Put it to `externals` section.

[2017-05-30 22:06] NekR commented on #266
Documentation states clear actually what for that property is (also documentation to `caches` mentions that). The only problem here is how people treat webpack or `offline-plugin`. `offline-plugin` knows only what webpack knows and absolutely webpack doesn't know about some external assets on file system, unless you make it so.

[2017-05-30 22:06] #266 closed

[2017-05-31 05:33] GGAlanSmithee commented on #266
Ah, right, I agree @NekR

Maybe we could improve the warning message though?

from

`WARNING in OfflinePlugin: Cache asset [index.html] is not found in the output assets, if it's an external asset, put it to the |externals| option to remove this warning.`

to

`WARNING in OfflinePlugin: Cache asset [index.html] is not found in the output assets, if the asset is not processed by webpack, put it to

[2017-05-31 07:59] Kikobeats commented on #266
@GGAlanSmithee I think so, the point is `external to the webpack build`.

Thanks for the feedback 😄

[2017-05-31 08:57] NekR commented on #266
I'm fine with such warning change.

[2017-05-31 10:44] mcchrish opened #267 "Doesn't install new serviceworker"
Repo: https://github.com/mcchrish/test-offline

Reproduced using react-boilerplate.

The issue is that when reloading, hard reloading, visiting the site on a new tab, or even reopening the browser doesn't change the old SW. It seems the new SW is not being installed successfully.

[2017-05-31 10:48] mcchrish commented on #267
Kinda of similar https://github.com/NekR/offline-plugin/issues/247#issuecomment-298470554

[2017-05-31 11:06] NekR commented on #267
If it isn't installed successfully who n some file isn't loaded, or SW isn't loaded or whatever.

[2017-05-31 11:07] NekR commented on #267
That comment is about old SW loosing its cache and not restoring, that doesn't affect new SW.

[2017-06-01 01:46] mcchrish commented on #267
Found the cause. My mistake. The server https://github.com/indexzero/http-server I'm testing with is caching everything including the `sw.js`.

Thanks for the wonderful plugin, man!

[2017-06-01 01:46] #267 closed

[2017-06-01 02:02] NekR commented on #267
Thanks! (I just realized my first comment wasn't really useful because of a lot typos I made typing on a phone 😅)

[2017-06-01 02:04] NekR commented on #267
Btw, best option for `http-server` is `-c no-store`. I have no idea why they didn't make it a default. Who would use `http-server` on production to utilize that cache-on by default.

[2017-06-01 08:32] NekR opened #269 "Interaction of `excludes` and `externals` options"
[code]

This should exclude `app-shell.html` from build assets (assuming it's there by `html-webpack-plugin`) and add it back via `externals` option. This is how it works now, the only problem is that `offline-plugin` preserves and uses `app-shell.html`'s build hash in this situation, but in shouldn't since the whole point of it is to get rid of that hash and treat `app-shell.html` as an external

[2017-06-21 15:47] hitchcott opened #272 "SW Being Cached on Github Pages"
Hi, I've noticed that github pages caches the `sw.js` with a `Cache-Control:max-age=600`.

If you visit the app, and refresh the page, this cache will be extended by another 10 minutes, so if you refresh again and again every minute, the app will never update (it's always serving the cached service worker with a refreshed max-age).

I followed the guide and it *does* update if you leave the page o

[2017-06-24 19:49] NekR commented on #272
There is a spec being developed to solve that, but it isn't implemented anywhere yet. Also it of course won't affect browser which have ServiceWorker implemented already without that feature. So the best way to solve it is to never cache the ServiceWorker file .

[2017-06-24 19:49] #272 closed

[2017-07-03 15:13] MichalCafe opened #273 "Is it possible to add code to sw.js?"
`offline-plugin` generates `sw.js` file, but what if I want to add code to it to use Notifications API?

Is there a way to do it?

[2017-07-03 16:59] NekR commented on #273
Yes, use `ServiceWorker.entry` option.

[2017-07-03 16:59] #273 closed

[2017-07-03 22:27] Kikobeats opened #274 "Nextjs example"
Hey,

Do you think that could be easy connect offline plugin with Next.js?

Currently we can find a sw precaching:
https://github.com/zeit/next.js/tree/v3-beta/examples/with-sw-precache

but would be awesomeness take all the power of offline under nextjs umbrella 😄

[2017-07-04 17:52] JordyMoos opened #275 "Different responseStrategy per regex"
Is it possible to have different response strategies per regex?
Like i want my assets to be cache-first.
But for calls to the api needs to be up to date so for them i would like network-first.

[2017-07-04 21:32] NekR commented on #275
No, not yet. You can implement API caching manually outside of the plugin and use `cache-first` in the plugin for assets.

[2017-07-04 21:34] NekR commented on #274
I have no idea how Next.js works but `offline-plugin` works fine with any webpack projects, unless it doesn't something weird.

Any contributions, examples included, are very welcome :-)

[2017-07-05 08:10] Kikobeats commented on #274
I'm going to try 😄

[2017-07-07 13:33] vikramIde opened #277 "offline mode is not working when I use domainName in the browser"
@xdamman

Hello guys,

So I am using webpack to compile this plugin and my webpack.config option looks like thi s

[code]

So My code works fine when I use ```http://localhost:8000/``` but if I use the demo vhot like ```http://ep-sass.local/``` it does not work and I get following error

any thing am I missing here ?

[2017-07-07 13:46] GGAlanSmithee commented on #277
ServiceWorker, and `offline-plugin` by extension, only works on localhost, or `https`.

[2017-07-07 13:58] vikramIde commented on #277
@GGAlanSmithee  Thanks

[2017-07-07 15:32] NekR commented on #277
Well, offline-plugin works without https by using AppCache, but in case of this issue AppCache is misconfigured. Localhost is treated as secure context by the browsers and hence SW works there.

[2017-07-07 16:39] NekR commented on #277
It probably should be:

[code]

Because `/offline-page.html` is not found in your case (I guess you just copied an example code).

[2017-07-07 16:39] #277 closed

[2017-07-18 12:06] kolima opened #278 "Uncaught ReferenceError: ExtendableEvent is not defined"
There is a bug when you open page

## Observed behavior ##
`Uncaught ReferenceError: ExtendableEvent is not defined`

Problem in this line: [offline-plugin](https://github.com/NekR/offline-plugin/blob/ee654c3fc93c83d7d3b44bed0f38d7c86163c967/lib/misc/async-waituntil.js#L4)

## Environment ##
Browser: Chrome version 59.0.3071.115 (64-bit)
OS: MacOS 10.12.5
offline-plugin: 4.8.3
webpack: 3.3.0

###

[2017-07-18 12:39] NekR commented on #278
Hi @kolima. I'm not sure how that's possible. `ExtendableEvent` is there in that Chrome version.

[2017-07-18 13:35] kolima commented on #278
Hi @NekR. I hope this helps.

<img width="871" alt="screen shot 2017-07-18 at 4 34 09 pm" src="https://user-images.githubusercontent.com/7297942/28319609-076ddb6a-6bd7-11e7-8834-27dcc796d471.png">

[2017-07-18 13:40] NekR commented on #278
It isn't defined on Window. `ExtendableEvent` is an constructor on ServiceWorker global object and that code you linked to is running in ServiceWorker.

[2017-07-18 14:13] kolima commented on #278
Thanks for answer, and you right. sw.js is included in index.html and running like js file.

[2017-07-18 14:13] #278 closed

[2017-07-18 18:25] AaronCCWong opened #279 "TypeError: Failed to fetch"
I am not sure why I am getting this error. Can you take a quick look?

This is what I see in devtools:

![screen shot 2017-07-18 at 2 21 12 pm](https://user-images.githubusercontent.com/10256257/28333012-a0862cc0-6bc4-11e7-86ad-50d56c66e54a.png)

This is my webpack config:

[code]

and I have this in my entry file:

[code]

[2017-07-18 20:02] NekR commented on #279
Why do you have `publicPath` as ` '/build/'`? Do URLs on your website look like this: `/build/manifest.*.js`?

[2017-07-18 20:04] AaronCCWong commented on #279
`/build` is the distribution folder that webpack chunks are put in.

[2017-07-18 20:07] NekR commented on #279
I'm talking about webpack's `publicPath` exactly. Public path isn't a folder on your file system, it's a path prefix to any script requested by webpack. So webpack assumes you have `/build/something.js` URLs and so does `offline-plugin`. In most cases you want `publicPath` to be `'/'`.

[2017-07-18 20:19] AaronCCWong commented on #279
Hm. Yes, the way it is setup, the website structure is `/build/manifest.*.js`, `/build/main.*.js`, etc.

[2017-07-18 20:50] NekR commented on #279
Then why your server responds with 404 for those files?

[2017-07-18 20:53] AaronCCWong commented on #279
I believe the hashes are the problem. Those look like they are old hashes from somewhere. I cannot pinpoint where the hashes for those files came from. I have tried everything from clearing cache to loading the website on a different computer but it always seems to be looking for `f1e49bb84baa0b7dfb51`. For example, it looks for `vendor.f1e49bb84baa0b7dfb51.css` when my current file is actually `v

[2017-07-18 21:43] NekR commented on #279
`offline-plugin` uses file names from your webpack build. If you don't change file names post-build then everything should be fine as it's for me, for example. Maybe some of your plugins change file names after `offline-plugin` handles them.

[2017-07-18 21:56] AaronCCWong commented on #279
![screen shot 2017-07-18 at 5 55 07 pm](https://user-images.githubusercontent.com/10256257/28341556-4c4a6ed2-6be2-11e7-9e07-cb264704ced8.png)

That is what is loaded from the server. It is strange to me that offline-plugin would define as an asset those files with the same hash every time since if webpack were creating the hash, the hash should probably be different.

[2017-07-18 22:05] AaronCCWong commented on #279
I commented out any of the plugins that could potentially affect the filename and am still getting the same issue with that same hash.

[2017-07-18 22:25] NekR commented on #279
I have no idea. `offline-plugin` that what webpack gives to it. What verdion of webpack you're using?

[2017-07-18 22:25] AaronCCWong commented on #279
`"webpack": "^2.7.0"`

[2017-07-18 22:55] NekR commented on #279
Looks like a fine version. I have no idea tbh.

[2017-07-20 14:59] NekR commented on #279
I'm closing this. If you have a repro I can take a look, otherwise I don't know how I can help here.

[2017-07-20 14:59] #279 closed

[2017-07-31 04:46] varghesethomase opened #280 "Multiple request for same file one from HTML and one via sw.js"
http://localhost:3000/utilities/main.ea6de9e17bf574ec02e9.js?__uncache=2017-7-31%2009%3A46%3A59
http://localhost:3000/utilities/main.ea6de9e17bf574ec02e9.js

The two requests seem to be identical but is treated as two separate files getting loaded. How can i prevent this?
![screen shot 2017-07-31 at 10 07 58 am](https://user-images.githubusercontent.com/5429756/28763126-5d19d210-75d9-11e7-962f-bfe

[2017-07-31 13:58] NekR commented on #280
You don't. One request is for your page to load and the other is to cache the file in ServiceWorker. That happens only on SW install.

[2017-07-31 22:16] #280 closed

[2017-08-01 04:36] varghesethomase commented on #280
@NekR But this seems highly unlikely. If you can see the the file size is 318KB which actually is a considerably big file size. And double loading that means you have the largest file being loaded twice. Could you please help me find ways to solve this? All my external dependencies gets packed to that single file. Will code splitting work? And is there a way to make this specific to the offline pl

[2017-08-01 17:43] NekR commented on #280
I already said that you cannot do that, but let's figure out "why it's bad".

How loading it once when ServiceWorker is installed hurts anything? Also it's considerably big to what exactly? I'm pretty sure images on your website (if any) weight x10 of that size and you load them on each page load, not only ~once~ twice.

Yes, just twice.

Do not use SW and load that file on every page load every t

[2017-08-03 20:10] yantakus opened #282 "SW detects updates only after page reload"
Thanks for the awesome work first of all!

I instantiate the plugin in the following way:

[code]

But SW doesn't detect updates without page reload. When I reload the page, these events are fired.

Here is my config:

[code]

Any ideas why this happens?

Here is the [example repo](https://github.com/yantakus/webpack-example) to test it if you need.

[2017-08-03 21:10] NekR commented on #282
Make sure you serve sw.js with Cache-Control: no-store. Otherwise it might be cached in browsers.

[2017-08-08 10:09] yelynn2015 commented on #77
@NekR I have added the code you recommend, but it still not working. What should I do?

The error info:
![image](https://user-images.githubusercontent.com/13792431/29067316-c16dab42-7c64-11e7-8b60-839f4d36231c.png)

[2017-08-08 10:10] yelynn2015 commented on #77
@NekR I have added the code you recommend, but it still not working. What should I do?

The error info:
![image](https://user-images.githubusercontent.com/13792431/29067346-dc0f1aa8-7c64-11e7-8de1-a46c1534eca5.png)

[2017-08-08 10:51] gazpachu opened #284 "Failed to register a ServiceWorker: The script resource is behind a redirect, which is disallowed."
How can I fix that error? Even the appCache fallback fails:

[code]

[2017-08-08 11:04] ismay opened #285 "Send error with onUpdateFailed"
It seems that currently the `onUpdateFailed` event does not pass an error to the event handler (judging from the source and docs). It would be nice to receive an error so that I can log and debug what went wrong exactly. Currently I only have the client data (browser, os, etc.), which doesn't tell me exactly what went wrong.

[2017-08-08 11:35] gazpachu commented on #77
I'm also having the same problem with v4.8.3. My web app runs inside a folder http://website.tld/appName/...

![screen shot 2017-08-08 at 13 33 25](https://user-images.githubusercontent.com/1721288/29070177-67de896e-7c3e-11e7-8107-ef58abc19d3c.png)

This is my config:

[code]

[2017-08-08 11:36] gazpachu commented on #284
Fixed with the publicPath

[2017-08-08 11:36] #284 closed

[2017-08-08 14:58] NekR commented on #77
Your service worker script should have JavaScript mime type and your appcache file should have its own manifest mime type. In your case they both have html's mime type. I van read that in console.

[2017-08-08 15:12] gazpachu commented on #77
Sorry, I don't get it :-( In the setup, faqs or troubleshooting sections I don't see anything about mime types. Could you explain further what do I need to do? AFAIK, I don't have a service worker script. All I'm doing is loading the NPM package ???? Same thing for the appcache file.

[2017-08-08 16:11] NekR commented on #77
Sorry, but I'm not going to teach web development here.

[2017-08-08 16:48] gazpachu commented on #77
Right, the issue I'm having is that all the files ('sw.js` and the `appCache` folder) are being created in my output path (dist/), but I need them to be in (dist/appName). I've tried using `scope`, `outputPath` in the options but they are always being generated inside `dist/`.

[2017-08-08 16:58] gazpachu commented on #77
This is what fixed it for me:

[code]

[2017-08-09 00:23] NekR commented on #282
@yantakus reading that linked issues it seems that you have some issues configuring your server. I'm not sure if your issue (as described here) is Cache-Control related, but it seems like that's the case.

I'm going to close this, but if `Cache-Control: no-store` won't help you then feel free to drop a comment here and we'll try to figure out what's going on with it.

[2017-08-09 00:23] #282 closed

[2017-08-09 00:23] NekR commented on #285
@ismay See https://github.com/NekR/offline-plugin/issues/243. Any contributions are welcome. Closing this as a duplicate.

[2017-08-09 00:23] #285 closed

[2017-08-09 00:24] #274 closed

[2017-08-09 08:58] ismay commented on #285
Ah, didn't notice that one. Thanks!

[2017-08-09 09:21] bkniffler opened #286 "Plugin's runtime wasn't added to one of your bundle entries."
Hey, I'm getting this error

`ERROR in OfflinePlugin: Plugin's runtime wasn't added to one of your bundle entries. See this https://goo.gl/YwewYp for details.`

I've gone through older issues and made sure that all loaders have the `-loader` part in webpack.config. I'm also not using the dev server for production. The entry is a single index.js that includes:

[code]

Also, the browser console wil

[2017-08-09 09:33] GGAlanSmithee commented on #286
Hi @bkniffler can you share your webpack config please?

[2017-08-09 14:25] bkniffler commented on #286
Yes, the core webpack stuff
https://github.com/bkniffler/olymp/blob/master/packages/core/webpack-config.es6

The offline config
https://github.com/bkniffler/olymp/blob/master/packages/core/offline.es6

And the babel stuff
https://github.com/bkniffler/olymp/blob/master/packages/webpack-babel/index.es6

And the runtime
https://github.com/bkniffler/olymp/blob/master/packages/core/web/index.es6

[2017-08-09 23:41] NekR commented on #286
Sounds weird, but unfortunately I don't have time to help you right now. Maybe next week.

[2017-08-10 03:42] lcxfs1991 opened #287 "serve multiple domain name"
I have such sw.js file generated. However, I need to serve my html files in other domains like https://www.qq.com. That is to say, `https://s1.url.cn/pwa/` should be `https://www.qq.com/pwa/`  and `https://s1.url.cn/pwa/list.html` should be `https://www.qq.com/pwa/list.html` Is there a solution right now?

[code]

[2017-08-10 03:54] maitrungduc1410 opened #288 "using offline-plugin in Laravel Vuejs Project"
Hi everybody
I'm now try to use **offline-plugin** in my **Laravel, Vuejs project** using **laravel-mix**(in 5.4 we don't use elixir anymore).
But the problem is: I can't add **blade.php** file in **'main' of 'caches'**, It renders error: cache asset ***.blade.php** is not found in the output asset
I tried to add **blade** file to **externals**, **service worker** could be registered OK but when I

[2017-08-10 04:05] yelynn2015 commented on #77
I fix the issue when I set the public path in webpack.config.output rather than in OfflinePlugin, but don't know why.

[2017-08-10 05:39] NekR commented on #77
@yelynn2015 you need it in webpack config, otherwise webpack itself won't work. offline-plugin options are just override, by default it takes what you specify in webpack config.

[2017-08-10 05:41] NekR commented on #288
What does it mean "deleted"? Adding external links to `externals` option is the right way to do it.

[2017-08-10 05:42] NekR commented on #287
I'm not sure what you're saying here. You want to change `publicPath`?

[2017-08-10 05:42] yelynn2015 commented on #77
Thank you! @NekR

[2017-08-10 07:53] maitrungduc1410 commented on #288
let me try, thanks :))

[2017-08-10 08:03] lcxfs1991 commented on #287
@NekR
we have multiple domain names. Like we have to use qq.com for html files and s1.url.cn for other files.

[2017-08-10 08:04] lcxfs1991 commented on #287
I am thinking of add an option called modifyAsset for developers to modify `this.assets` . What's your opinion?

[2017-08-10 08:58] bkniffler commented on #286
I'll try and investigate more, also I'll make the config a bit more easy to read.

[2017-08-10 12:37] lcxfs1991 commented on #287
@NekR make this pr to resolve this issue. It empowers developers to modify their assets. https://github.com/NekR/offline-plugin/pull/289

[2017-08-11 12:20] bennadel opened #290 "Question: Can it work with HtmlWebpackPlugin hash option?"
Right now, I am using the `hash` option to cache-bust my build files since I am hosting my site on GitHub pages and the build files go into the actual git repository. However, it looks like the `hash` is not being added to the asset locations as they are loaded into the SW cache. I was wondering if this SW approach is incompatible with the `hash` option?

My current webpack config:

[code]

Thanks

[2017-08-11 12:26] NekR commented on #290
Yes, `offline-plugin` assumes that no one is going to pass query params to webpack generated files because they are static. What's wrong with having unique names per build?

[2017-08-11 12:38] bennadel commented on #290
Ah, ok thank you - that makes sense then.

I'm quite new to Webpack, so using the `hash` option seemed like the easiest way to provide cache-busting when the compiled files were being saved to repo. Otherwise, every time I hit `CMD-S` in my project, it creates an entirely new set of files in my repo (and I'd have to manually delete the old ones with the old version). Perhaps there's just a better

[2017-08-11 12:44] bennadel commented on #290
Though, now that I say that out-loud, I think there is a plugin I can use that will clear my `build` folder on each build.

[2017-08-11 12:55] NekR commented on #290
Yes, there are such plugins. But your use cases sounds reasonable anyway. I agree that in your case it's better/easier to have files with constant name.

You do not seem to use AppCache, but I want to point out that having dynamic query for static assets isn't compatible with AppCache, that's a partial reason why it isn't implemented in `offline-plugin`'s ServiceWorker code too.

[2017-08-11 13:02] bennadel commented on #290
Makes total sense. I just added `rm -r ./build/*.js` to the front of my `npm run build` and that clears it out sufficiently for my use-case. Am now seeing that the files are being successfully served from the Service Worker :D

As an _aside_, I did have a lot of trouble getting this all to work with a `./build` folder. I finally got it working by turning off the relative-path stuff (based on anoth

[2017-08-15 09:51] maitrungduc1410 opened #291 "Error MIME type"
I'm building a Laravel app using Vuejs and when I use this offline-plugin, after loading my page, it's render these errors:

Can any body help me?
Thanks!

[2017-08-16 12:38] #290 closed

[2017-08-17 09:39] ismay opened #292 "Updatestrategy's effect on assets in the 'main' section of caches"
I'm currently using the `all` updateStrategy because not all my assets have a hash appended to their filename. Only my clientside js does. And the docs state that in that case the `all` updateStrategy is best since it will re-verify all assets.

However, what confuses me is that the docs also state that for the `changed` updateStrategy:

Does that mean that all assets that are listed in `main` wil

[2017-08-17 10:48] vaclav-zeman opened #293 "Manifest start_url is not cached by a Service Worker."
Hi,
I've got a React app (that uses Webpack + Express.js for SSR) that uses offline-plugin. Everything seems to be working fine but when I run Lightouse, I get an error that says _Manifest start_url is not cached by a Service Worker._.

OfflinePlugin config in webpack:
[code]
Using output/publicPath params because webpack builds code into /dist folder and this works fine.

The manifest is also val

[2017-08-17 12:50] vaclav-zeman commented on #293
Okay, I found a fix. I had to change start_url in manifest.json to "/" and add externals: ['/'] to the OfflinePlugin config.

[2017-08-17 12:50] #293 closed

[2017-08-17 17:02] NekR commented on #292
Actually, you're fighting a problem what doesn't exist. It's weird, but docs for `updateStrategy` are pretty much outdated. With `changed` strategy `offline-plugin` calculates files' hashes on its own, no matter what name they have. This also helps with files being renamed, i.e. if the hash is the same then file isn't redownloaded but rather just renamed.

Also, `updateStrategy` doesn't apply to e

[2017-08-18 09:26] ismay commented on #292
Ah that's great! Thanks for clarifying!

[2017-08-18 15:45] yaitskov opened #294 "Appcache manifest is not injected into index.html"
Hi,

I am trying to use offline plugin to use appcache.
The problem is that index.html lacks of manifest tag.

My index.html is generated out of template. though webpack is capable of injecting bundle.js.

[code]

Use versions:
[code]

Template:
[code]

Instead injecting attribute into html tag.
The plugin generates another html file with the manifest attribute, which is located at
/dist/appcache/

[2017-08-18 17:41] NekR commented on #292
Great! :-)

[2017-08-18 17:41] #292 closed

[2017-08-18 17:41] NekR opened #295 "Update `updateStrategy` docs"
See: https://github.com/NekR/offline-plugin/issues/292#issuecomment-323133893

[2017-08-18 17:43] NekR commented on #294
That's the behaviour. Where is the problem?

[2017-08-18 17:44] NekR commented on #291
mime-type of ServiceWorker file should be one of JavaScript mime-types. Your server either doesn't server that file correctly your the file doesn't exist of the location where it supposed to be, hence you server send 404 html page or something like that.

[2017-08-18 17:44] #291 closed

[2017-08-18 17:46] NekR commented on #290
You have no `publicPath` option in your webpack config, that's your issue here. Everything what was loading files dynamically didn't know that they are in build sub-folder of your project.

[2017-08-18 17:48] NekR commented on #291
See this issues for details: https://github.com/NekR/offline-plugin/issues/77

[2017-08-18 17:48] NekR opened #296 "Describe insecure/html response error in the faq/docs"
Here is an issues with detailed description: https://github.com/NekR/offline-plugin/issues/77

[2017-08-18 17:49] #288 closed

[2017-08-18 17:49] NekR commented on #287
Use `rewrites` option.

[2017-08-18 17:49] #287 closed

[2017-08-18 17:50] NekR commented on #286
How is it going? Were you able to fix the issue?

[2017-08-18 18:04] yaitskov commented on #294
As far as I understood from the application cache spec.
Every html file should have attribute manifest referring to manifest.appcache file.
Could you explain how an html file in a sub folder with set attribute could active the appcache in my index.html?

[2017-08-18 19:30] NekR commented on #294
I'm not going to, sorry. There are plenty of information about it over the internet. But I'm going to tell you that works and it works the way intended too. Otherwise it won't be implemented that way.

[2017-08-18 19:30] #294 closed

[2017-08-18 19:49] yaitskov commented on #294
https://www.html5rocks.com/en/tutorials/appcache/beginner/

"...The manifest attribute should be included on every page of your web application that you want cached. ..."

[2017-08-18 20:06] NekR commented on #294
That's a way to do it. I don't get what you want. Something doesn't work for you or what?

[2017-08-18 20:17] yaitskov commented on #294
HtmlWebpackPlugin generates /dist/index.html. It's the only html file in the application.
There should be the binding to the manifest, but OfflinePlugin doesn't add the manifest attribute to <html> tag, instead the plugin generates another html file in subfolder /dist/appcache/

[code]

The file is almost empty. This is not a big problem for me to add the manifest attribute in my html template as

[2017-08-18 20:40] NekR commented on #294
This is intended behaviour, you do not need to add manifest attribute in your html files. The right way to go is to accept how plugin works. If you don't like it, just don't use it.

[2017-08-28 19:11] pinebit opened #298 "Help needed: why the service-worker loads my items sequentially?"
I have a bunch of files in my reactjs application, which is built with webpack.
I noticed my site is loading pretty slow, and here is what Chrome Tools display when it loads:
![sw-loading-images](https://user-images.githubusercontent.com/6468078/29788707-43f8ed2e-8c3c-11e7-9431-954e2461819d.PNG)
Here, all requests shown in the picture are GET request to load individual SVG files. Nothing unusual e

[2017-08-28 19:18] NekR commented on #298
Use http/2 and they will load concurrently, http/1 has a limit n 6 parallel requests at a time. And that isn't SW related, that's for everything.

[2017-08-28 19:18] #298 closed

[2017-08-28 19:19] pinebit commented on #298
Thank you!

[2017-08-28 20:01] NekR commented on #298
But better solution might be to not preload everything. You may try to move
all those icons to the `optional` section of caches. This way they won't be
preached, but rather cached once requested from your app.

On Aug 28, 2017 22:19, "Andrei Smirnov" <notifications@github.com> wrote:

[2017-08-28 21:01] pinebit commented on #298
Alright, we enabled HTTP/2 and this indeed helped a lot! The website is now loading blazing fast, so thank you for this advice.
Regarding the optional, am I correct I can simply add this: `additional: ['*.svg'],`?

Also I was testing updates (deployments) and found a quote saying a user needs to close all tabs with this site opened or restart the browser for updates to take into effect. I understa

[2017-08-28 21:19] NekR commented on #298
[code]
For update, in this doc there is a section which shows how to use events and reload tabs when update happens: https://github.com/NekR/offline-plugin/blob/master/docs/updates.md

[2017-09-04 05:59] Zyclotrop-j commented on #127
Has there been progress on this issue?
I actually ran into a problem when trying to load from the google-sheets api.

What I want to do is, fetching data from a google spreadsheet and have it updated every 24h.
To do so, I use the offline plugin with `autoUpdate: 1000 * 60 * 60 * 24, externals: [https://sheets.googleapis.com/v4/spreadsheets/...?key=...&fields=sheets.data.rowData.values.effectiveVa

[2017-09-04 07:33] ZeroCho opened #299 "Can I use it with custom serviceworker events?"
I'm currently sending and receiving push notification with serviceworker, while caching website too.

I'm considering migrating to this plugin if it supports adding custom serviceworker events. As far as I know, one serviceworker can be attached to one web scope, so I cannot use my own serviceworker with `offline-plugin`.

So can I use it with push notification events?

[2017-09-04 12:27] NekR commented on #299
Yeah. use `ServiceWorker.entry` option. If will include a `require(...)` to that file in generated SW.

[2017-09-04 12:27] #299 closed

[2017-09-05 18:40] NekR commented on #127
Hi, no progress so far.

[2017-09-06 01:25] elwynelwyn opened #300 "Rolling back to prior deployed SW does not trigger update"
I have my app cached and working offline with OfflinePlugin, and when I deploy new versions of my code the worker updates correctly.
However deploying an old version of my code (e.g. rolling back if there were bugs) does not seem to cause updates to be fetched.

Deploy Version 1 of my code, SW installs:
[code]

Deploy Version 2 of my code, SW updates:
[code]

Re-deploy Version 1, and I get no upda

[2017-09-06 01:37] NekR commented on #300
If you don't get those events at all at rollback then it's browser not sending them, not offline-plugin. I.e. browser doesn't detect an update and the only reason for that is SW file not being changed. Maybe on rollback you don't update the sw.js file or don't clear server caches or whatever that prevents updated file to go out.

[2017-09-06 02:11] elwynelwyn commented on #300
OK it does seem to be cache related.

When I push Version 2, I open the sw.js file in a new tab. Then I push Version 1 and open sw.js, and I see the updated sw file contents with the new file hashes.

However browsing around on the site I am still served Version 2.

But when I do a hard refresh (ctrl+f5) I get Version 1. I don't understand what could be caching that sw though as I serve it with `C

[2017-09-06 02:44] NekR commented on #300
I don't know either.

(note: "hard refresh" bypasses SW completely and makes request directly to the server)

[2017-09-06 17:03] NekR commented on #300
Can you maybe try in another browser or if any error happen? Maybe `onUpdateFailed` is being fired?

[2017-09-07 23:11] NekR commented on #300
@elwynelwyn No problem. I actually missed that you were using `no-cache` instead of `no-store`. `no-cache` still allows to cache files in some conditions, while `no-store` says to not use cache at all. The best practice for SW file is to always serve it with `no-store`.

I guess your current header will work too, but I'm 100% sure.
You also may want to check out this article about http caches: htt

[2017-09-12 15:15] ZeroCho opened #303 "Unable to use with passport"
After setting offline-plugin `GET /api/auth/google` doesn't work. This url triggers `passport.authenticate('google')` in server and causes redirection to callback url.
As I inspected Network tab of developer tools, it seems that it tries to fetch /api/auth/google from serviceworker, which causes no redirection.
![image](https://user-images.githubusercontent.com/10962668/30333841-e369cc60-9818-11e7

[2017-09-13 07:01] GGAlanSmithee commented on #303
@ZeroCho

From a glance, it looks correct.

A few things to check off before troubleshooting further.

1. Have you cleared previously cached service worker? To be 100% sure, you can go to chrome://serviceworker-internals/ and remove your site
2. Are you sure that `url.pathname.indexOf('/api/') === 0` matches your url? ie, it starts with `/api/`

[2017-09-13 08:20] ZeroCho commented on #303
@GGAlanSmithee Nice to meet you here

1. I cleared serviceworker but still the same thing happens.
2. url is `/api/auth/google` so I think it matches mine.

[2017-09-13 14:11] NekR commented on #303
Hi. So the problem in `navigateFallbackURL: '/'` option which treats redirects as fails. What you need here is either `ServiceWorker.navigateFallbackForRedirects` set to `false` or just use `cacheMaps` and remove `navigateFallbackURL`.

[2017-09-13 14:16] ZeroCho commented on #303
@NekR Thanks you so much! I can now stop pulling my hair out. You saved my day.

[2017-09-13 14:16] #303 closed

[2017-09-13 15:04] NekR commented on #303
@ZeroCho no problem and sorry for a late answer!

[2017-09-14 06:24] GGAlanSmithee commented on #303
Nice to see you too @ZeroCho. :)

Looks like @NekR saved the day once again! :1st_place_medal:

[2017-09-15 01:23] bkniffler commented on #286
I still didn't manage to make it work. Its definitely the last plugin added to my webpack config and I've tried a lot of different stuff without success. I have no clue whats going on.

https://github.com/bkniffler/olymp/blob/master/packages/core/offline.es6
https://github.com/bkniffler/olymp/blob/master/packages/core/web/index.es6

[2017-09-15 05:53] bkniffler commented on #286
If I set the __tests.ignoreRuntime to true, the sw.js file will be created, though still the client complains about `offline-plugin: runtime was installed without OfflinePlugin being added to the webpack.config.js. See https://goo.gl/2Ca7NO for details.`

[2017-09-15 06:13] bkniffler commented on #286
Got it! Had to change
[code]
My webpack config is inside a symlinked package, thus the resource path will never match the runtime path currently.

My current workaround is to require offline-plugin by
[code]

[2017-09-15 14:43] NekR commented on #286
@bkniffler interesting. Can you show me what `resource` and `runtimePath` path you have in that situation? Also I'm glad you were able to solve it :-)

[2017-09-15 22:34] bkniffler commented on #286
resource = /Users/me/app/node_modules/offline-plugin/runtime.js

runtimePath = /Users/me/framework/packages/core/node_modules/offline-plugin/runtime.js

I got a framework project which is a lerna repo and it holds everything that can be reused between projects (webpack config, react SSR stuff, apollo client, etc). I'm symlinking it to my app so I extend the framework whenever I require and immedia

[2017-09-16 10:11] JuanLuisGarciaBorrego opened #304 "Does not respond with a 200 when offline and start_url is not cached by service worker"
Hi!
In lighthouse extension i have a 2 error?

**Does not respond with a 200 when offline**

**User will not be prompted to Install the Web App**
Failures: Manifest start_url is not cached by a Service Worker.

My webpack config is:

[code]

file.js
[code]

Can you help me?
Thanks!

[2017-09-17 19:48] nvanselow commented on #286
I had the same issue with a symlinked project using lerna. @bkniffler fix worked for me as well.

[2017-09-20 23:17] NekR commented on #304
Hey. Just cache your start URL explicitly via `externals` option, e.g. `externals: ['/']`.

[2017-09-20 23:17] #304 closed

[2017-09-22 09:23] GGAlanSmithee commented on #240
can this be close @NekR ?

[2017-09-22 09:26] GGAlanSmithee commented on #130
@jampy we now have the [troubleshooting](https://github.com/NekR/offline-plugin/blob/master/docs/troubleshooting.md) docs. It's not exaclt what you suggested, but should cover the case you points out and more.

Do you (adnd @NekR) feel there is a need for another separate doc regarding this, or would it just fragment the docs more?

[2017-09-22 15:45] GGAlanSmithee commented on #228
Closing this as suggested by @NekR

[2017-09-22 15:45] #228 closed

[2017-09-22 16:11] NekR commented on #130
@GGAlanSmithee good point! I don't think there is a need for another doc file. If someone else has suggestions about prerequisites we can add them as "make sure" or something like that section to the troubleshooting doc.

[2017-09-22 16:11] #130 closed

[2017-10-06 12:43] SteffenDE opened #309 "Caching Material Icons"
I'm currently using the following config for a SPA:
[code]
Using this, I'm encountering the problem that `https://fonts.googleapis.com/icon?family=Material+Icons` requests another font file:
[code]
Because this url is not static is there any way to tell the plugin to cache requests to `https://fonts.gstatic.com/s/materialicons/*/*.woff2` **after** the request is done the first time?
I tried adding

[2017-10-12 13:53] gazpachu opened #310 "How to exclude a specific path and all the paths underneath from being cached?"
`/admin` and all the paths underneath are not part of my app, so I want to avoid the SW from caching those paths.

I've tried with `excludes: ['**/*.map', '/lighthouse/admin', '/lighthouse/admin/**'],`, but this is not excluding `/lighthouse/admin`, nor `/lighthouse/admin/whatever` from being cached.

What am I doing wrong?

![screen shot 2017-10-12 at 15 52 00](https://user-images.githubuserconte

[2017-10-12 17:05] NekR commented on #310
Use `cacheMaps` option instead of `navigateFallbackURL`. The later is deprecated. With `cacheMaps` you can control whatever should be cached. Let me know if that works for you.

[2017-10-12 17:07] NekR commented on #310
For AppCache, it most likely isn't possible. You cannot route separate routes to the network with it, but instead of have to route all your routes to offline. Unfortunately.

[2017-10-12 18:36] NekR commented on #310
As a workaround for AppCache, you may do:

[code]

In this case, when user is offline or the service is not available, it will show `/not-available.html`, i.e. custom error page.

@GGAlanSmithee do you think it would be good to document this on troubleshooting?

[2017-10-12 18:39] NekR commented on #309
In theory, if we had "runtime caches" it would help, but not with first request. i.e. fonts would be cached on second page load, not on first.

[2017-10-12 19:05] SteffenDE commented on #309
Okay so if I understand this correctly there is currently no way of achieving this using this plugin?

It would not matter (to me) if this only happened on the second page load, it's just important that the file will get cached so if the user is offline the app will still show the icons.

[2017-10-12 19:43] NekR commented on #309
Well, there is an experimental and untested API, but it isn't guaranteed to work.

It can be used this way:

[code]

But again, it's experimental and it may not work at all.

[2017-10-12 19:45] NekR commented on #309
Also, the reason why it's experimental and didn't receive further development just yet is because it will preload **all** the fonts from specified CSS.

[2017-10-12 20:03] SteffenDE commented on #309
Doesn't seem to work for me, but an idea occurred to me. Mozilla mentions in their docs:

https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers

[code]

I tried this once but this ended literally putting everything (also database requests) into the cache. My idea is: Wouldn't it be possible to match the `event.request` url against a glob pattern of specified url

[2017-10-12 20:16] NekR commented on #309
That's what's called "runtime/dynamic caches". As I said before, it doesn't exist in this plugin

[2017-10-12 20:21] SteffenDE commented on #309
Alright so is this planned for the future? If not is there a way to use importScripts in the worker to load own code?

[2017-10-12 20:32] NekR commented on #309
Planned, but that doesn't mean someone is going to implement it. Since nobody contributes that, then that isn't very important feature for them.

You can use `ServiceWorker.entry` to point to a script file which will be used as a regular webpack entry for ServiceWorker. Then, add whatever code you want there.

[2017-10-12 20:36] SteffenDE commented on #309
Okay, I see. If I'm bored I'll look into it but for now I think I'll try using an own entry file.

Thanks, I'll close the issue.

[2017-10-12 20:36] #309 closed

[2017-10-12 21:55] GGAlanSmithee commented on #310
@NekR definitely. Will try to do that tomorrow! Is `navigateFallbackURL` marked as deprecated in the docs? Should I do it if not?

[2017-10-13 00:32] NekR commented on #310
@GGAlanSmithee it's marked as deprecated in my mind and my plans, not in the docs just yet. It would be confusing to mark it as deprecated until I have `appShell` option released, which supposed to be as simple as `navigateFallbackURL` but use `cacheMaps` instead.

Once I have `appShell` done, we will update the docs about `navigateFallbackURL` :-)

[2017-10-13 00:34] NekR commented on #310
`appShell` is actually done, but it's in `4.9.0` branch and I cannot merge it until other features in it are done..

[2017-10-13 07:47] gazpachu commented on #310
@NekR could you please post here a cacheMaps config example for my use case? I think it would be useful also for other people with similar cases. Many thanks!

[2017-10-13 10:28] gazpachu commented on #310
I've been trying with something like this, but still doesn't work :/

[code]

[2017-10-13 10:36] NekR commented on #310
It's better to use a function in this case. I'll show an example later.

On Oct 13, 2017 1:28 PM, "Joan Mira" <notifications@github.com> wrote:

[2017-10-13 15:55] gazpachu commented on #310
ok, thanks. I'll wait for the example

[2017-10-13 17:46] NekR commented on #310
[code]

[2017-10-13 18:24] gazpachu commented on #310
Thanks, it works! :-)

Just had to slightly change it:

[code]

[2017-10-13 18:24] #310 closed

[2017-10-13 21:30] NekR commented on #310
Why it didn't work without `true` and why you use `url.location` which is `undefined`? `URL` construct should throw in your case .

[2017-10-13 21:37] gazpachu commented on #310
I had to use url.location because location is not defined anywhere, so eslint complained. Also complained about returning nothing in one case and something on the other. I also had to add URL to the eslint globals. Did I do anything wrong?

[2017-10-13 21:50] NekR commented on #310
Yes, you did. ESLint cannot know anything about your program or libraries especially so it shouldn't dictate what you do with them. It's perfectly fine to return whatever value in JS, that's why such functionality exists. Just disable ESlint for that function or use `new Function(...)` and do what I suggested you to do to fix the problem.

[2017-10-16 15:02] dangodev commented on #304
Had the same problem and this worked brilliantly. This wasn’t intuitive for me; would there be a good place to add this information to the docs somewhere? This seems like very helpful info given how many people that use this plugin also use Lighthouse.

[2017-10-16 15:34] NekR commented on #304
@GGAlanSmithee what do you think, what would be the best place? Troubleshooting doc? Maybe put a disclaimer to the top of README about the doc? Or maybe link it in ISSUE_TEMPLATE or something like that?

@dangodev Yeah, it definitely would be good to make that visible. I think it's this issues is explained somewhere, but I'm not sure where exactly too :-)

[2017-10-16 17:07] GGAlanSmithee commented on #304
@NekR

Yes, absolutely, both your suggestions are very reasonable. Tomorrow I will try to give time to

1. As docs regarding this to `troubkeshooting.md`
2. Add link to `troubleshooting.md` from `README.md`
3. Add link to `troubleshooting.md` from `ISSUE_TEMPLATE`

[2017-10-16 17:50] NekR commented on #304
@GGAlanSmithee I think I may time for it myself. First one wins 😂

[2017-10-16 18:06] #295 closed

[2017-10-16 18:43] GGAlanSmithee commented on #304
@NekR : running:

[2017-10-18 15:41] christiansakai commented on #309
@NekR

I have the same problem. Looking at the examples that you provided above with Roboto and Material Icons. The Roboto works but Material Icon does not.

I looked at the Cache Storage, both Roboto and Material Icon actual `woff2` font file is cached, but when I tested the app `Offline` I got error only for Material Icon.

![screen shot 2017-10-18 at 11 37 08 am](https://user-images.githubuserc

[2017-10-18 21:58] NekR commented on #309
I don't know. I need a repro / live example to take a look at.

[2017-10-19 19:38] NekR opened #311 "Add ServiceWorker.updateViaCache option"
https://github.com/w3c/ServiceWorker/issues/1104

Default should be `never`.

[2017-10-19 19:45] NekR commented on #311
Oh, it's `none` actually but Firefox Nightly seems to use `never`.

[2017-11-02 12:44] StephanBijzitter opened #312 "How do I cache requests to an external CDN, without specifying all files?"
We have a CDN that hosts a lot of fonts for us, and it's updated independently. We _could_ determine all resources during build time, but is it really needed?

Ideally, I'd just want to specify `**/thumbs/*.woff` as an external and have the service worker cache a request as soon as it matches this. Would that be possible?

[2017-11-02 21:23] NekR commented on #312
That indeed would be better, but not possible right now. There is no such API at the moment. It's pretty popular request, although nobody yet contributed it to the plugin. So maybe not that popular.

[2017-11-07 03:23] s123121 opened #313 "How to check if service worker already installed?"
I have to integrate `offline-plugin` with OneSignal. Base on [their suggestion](https://documentation.onesignal.com/v3.0/docs/web-push-sdk-setup-https#section-can-onesignal-integrate-with-another-service-worker-on-my-site-or-a-progressive-web-app-), I have to manual register the service worker.
Do we have a way to check if plugin's runtime have already installed or not? So I can skip `runtime.inst

[2017-11-07 03:35] s123121 commented on #313
Ok, I am stupid. Looking into the api, I can check `navigator.serviceWorker.controller` to identify  the service worker that intercepts fetch requests. However, In case we have multiple service worker( with multiple scope), do `navigator.serviceWorker.controller` return them all or just the the root scope service worker?

[2017-11-07 22:23] chipit24 opened #314 "Error: No code sections found"
When using with [webpack-dashboard](https://github.com/FormidableLabs/webpack-dashboard), I get the following error:
[code]

A minimum repo with the issue: https://github.com/chipit24/test_with_offline_plugin
Just pull down and `yarn && yarn start` to see the problem.

If you run the actual dashboard (see `start-dashboard` script in linked repo), you'll get a different error:
[code]

[2017-11-08 20:12] klandell opened #315 "Lazy loading"
I'm just wondering if it is possible to disable the prefetch on the install event, ideally for a particular file type.  I cache all of my .svg image files with the service worker, but on the install event the prefetch requests exceed the rate limit on my http server.  In my case it's not really necessary that the images are prefetched, and I would like to keep the rate limit intact.

Best,
Kyle

[2017-11-08 20:23] klandell commented on #315
Nevermind, I see the optional property for the caches config.  Thanks anyway, and awesome plugin!

[2017-11-08 20:23] #315 closed

[2017-11-13 16:57] klihelp opened #317 "Webpack 2"
Upgrade to Webpack 2?

[2017-11-13 18:47] NekR commented on #317
It should support all the webpack versions. I don't perform tests for them, but I successfully used it with webpack 2 and 3, and other people do. What's you issue with it?

[2017-11-13 20:29] NekR commented on #314
@chipit24 Hi! Sorry, I somehow missed this issue. I'll take a look at the provided, repo thanks!

[2017-11-13 20:30] NekR commented on #314
https://github.com/chipit24/test_with_offline_plugin/blob/master/webpack.config.js#L24-L25

@chipit24 `offline-plugin` should be the last plugin added to the array. Having it the last solved the problem?

[2017-11-13 21:39] chipit24 commented on #314
Thanks for looking into this @NekR. I tried placing `offline-plugin` last but still got errors. When I run this with webpack-dashboard (`webpack-dashboard -- webpack-dev-server`) I still got an error  and the dashboard would exit with `TypeError: Cannot read property 'meta' of undefined`. Same errors I posted above.

Maybe I can post this issue in the webpack-dashboard repo as well.

[2017-11-13 22:49] NekR commented on #314
@chipit24

That may make sense. I have no idea what they're doing in their plugin, but looks like they looking for JS chunks to be attached to the compilation at some point and they aren't. IMO, if any, that should be a warning, not a fatal error.

[2017-11-14 10:13] NekR commented on #317
I'll close this. Feel free to leave a comment here if it doesn't for you in any webpack version and I'll reopen.

[2017-11-14 10:13] #317 closed

[2017-11-14 10:17] NekR commented on #313
@s123121 Hi, sorry, missed this issue. `navigator.serviceWorker.controller` current controlling ServiceWorker for your scope.

`offline-plugin` has no special compatibility with OneSignal, so omitting `runtime.install()` is on your own risk.

[2017-11-14 10:17] #313 closed

[2017-11-14 10:18] #312 closed

[2017-11-14 11:04] klihelp commented on #317
It does work wirh webpack 3. Can you update the dependencies for the project here on gihub?

[2017-11-14 11:21] NekR commented on #317
I have webpack only as a devDependency for tests, why would I update it?

[2017-11-16 01:14] niels-garve opened #318 "Navigation fallback not working with ReactJS app"
Hey,

I am implementing a React app: it loads at "/", the React Router redirects "/" to "/home". I made this because there is a Wordpress backend - each page has its name/slug and permalink.

Anyway, everything starts at "/" and and the app handles the routing. Now, when it comes to offline handling, I understood that the offline-plugin config can look like this:

[code]
I cache "/" via `externals

[2017-11-16 03:20] NekR commented on #318
It isn't working because your ServiceWorker's file path is `publicPath: '/wp-content/themes/leonfrancisfarrow/build/sw.js'` which means that ServiceWorker is able to handle only pages under `/wp-content/themes/leonfrancisfarrow/build/` directory. If you want it to handle main page, ServiceWorker file has to be put on `/sw.js` route, i.e. into the of your website.

[2017-11-16 10:05] niels-garve commented on #318
Hey, thank you very much! Now it works with a config like this:
[code]
I appreciate your work!
Kind regards
Niels

[2017-11-16 11:37] NekR commented on #318
Great!

[2017-11-16 11:37] #318 closed

[2017-11-20 14:27] morriq opened #319 "applyUpdate is fired after entering the page"
After deploy I'm opening my webapp in new card and onUpdated is fired. It's killing look and feeling, coz user recently refreshed webapp and offline-plugin tells him to do it again

webpack:

[code]

[code]

[2017-11-20 14:32] NekR commented on #319
Just don't call `applyUpdate();` in there if you don't want to.

[2017-11-20 14:43] morriq commented on #319
Thank you for reply,

Alright, so you're suggesting to control it somehow (detecting "fresh" enter on webapp) and if true then skip `applyUpdate()`.

Could you tell me if I'll do it and script will skip this `applyUpdate()` then after releasing newer version (and still staying on old page when script has skipped first `applyUpdate()`) then it will be detected in runtime?

[2017-11-20 15:17] NekR commented on #319
I'm not suggesting anything. If you want to do it -- do it.

`onUpdateReady ` is called on every update. When you visit a website and there is an update -- it's called. When an `autoUpdate` check happens and there is an update -- that method is called.

What you do in it is your choice.

[2017-11-20 15:32] #319 closed

[2017-11-21 15:37] NekR commented on #62
I fixed it as a separate project: https://github.com/NekR/self-destroying-sw

[2017-11-21 15:37] #62 closed

[2017-11-21 16:02] postgetme opened #320 "Failed to register a ServiceWorker"
"Failed to register a ServiceWorker: The origin of the provided scriptURL ('https://static.website.io') does not match the current origin ('https://website.io')."

how should I fix this problem? thanks!

[2017-11-21 16:07] NekR commented on #320
Serve ServiceWorker from `https://website.io` as the error suggests.

[2017-11-22 09:51] NekR opened #321 "Docs for uninstalling ServiceWorker"
Some info here: https://github.com/NekR/offline-plugin/issues/62
Project for uninstalling here: https://github.com/NekR/self-destroying-sw

[2017-11-30 12:17] hunterwilliams opened #323 "Q: Usage when purposefully loading index without 404?"
My scenario is using react app on the frontend using this plugin. We always forward all 404 errors to index.html so that the 404 is handled via the react app. However this causes the service worker to explode because it doesn't deal with HTML.

The app is based off of react boiler plate and I've not modified the plugin usage. I'm looking at cachemaps, but it seems as if it's still going to have an

[2017-11-30 14:41] NekR commented on #323
@hunterwilliams hey. Yeah, `cacheMaps` should be the answer.

Try adding this:

[code]

[2017-12-01 10:47] BowlingX opened #324 "Skip cache on certain errors on network-first request"
Hi,
thank's a lot for this plugin :).
I'm wondering If it's possible to return the cached result only on certain error codes or even only if the client is offline. Right now, any error the server throws during fetch < 500 (like != ok -> https://github.com/NekR/offline-plugin/blob/master/src/misc/sw-template.js#L378) or general errors: https://github.com/NekR/offline-plugin/blob/master/src/misc/sw-

[2017-12-02 00:51] hunterwilliams commented on #323
@Nekr thank you!! Should this have a side effect of causing cors issues? The main app calls a different subdomain for APIs.

[2017-12-02 20:14] NekR commented on #323
@hunterwilliams since it's `requestTypes: ['navigate']` it won't affect CORS requests. It will be handling only browser's navigation requests.

[2017-12-02 20:14] #323 closed

[2017-12-03 08:24] hunterwilliams commented on #323
Thanks

[2017-12-03 12:22] NekR commented on #324
@BowlingX that would be a good feature to have, but I'm not sure how API for that would look like. Do you have any ideas?

[2017-12-03 12:45] GGAlanSmithee commented on #324
@BowlingX regarding returning cached assets only if the client is offline, you can do that already with [responseStrategy](https://github.com/NekR/offline-plugin/blob/master/docs/options.md#responsestrategy-cache-first--network-first)

[2017-12-04 12:00] BowlingX commented on #324
@GGAlanSmithee, At least network-first (see function `networkFirstResponse`) will always load from cache when != ok.

@NekR maybe something like:

`shouldServeFromCache: (response:Object, cacheUrl:string, url:string) => boolean |` defaults to `(response) => !response.ok`

But I will think about something.

[2017-12-05 09:35] swarajgiri opened #325 "Webpack 4 alpha test results"
From [sokra's reply](https://github.com/webpack/webpack/issues/6064#issuecomment-349209353)
`compilation.fileDependencies` is now a Set.

We need to update,
`if (compilation.fileDependencies.indexOf(runtimeTemplatePath)` to use a set instead of an array.

Details of the original test can be found [here](https://github.com/webpack/webpack/issues/6064#issuecomment-349192702)

Can this be a part of t

[2017-12-05 09:50] GGAlanSmithee commented on #325
@swarajgiri

Thanks for reporting this. The actual quote from @sokra is

So the fix on our side should be to change

`if (compilation.fileDependencies.indexOf(runtimeTemplatePath)`

to

`if (compilation.fileDependencies.has(runtimeTemplatePath)`

This would be a breaking change though (I think), so we would probably have to detect this runtime and handle both cases for backwards compatability.

Wh

[2017-12-05 10:04] NekR commented on #325
It can be a patch fix, no need for major or minor even. Just detect if it's a Set and use appropriate method, as Alan said. I'll do that later today.

[2017-12-05 10:05] NekR commented on #325
Thanks for reporting btw! 👍

[2017-12-05 14:34] swarajgiri commented on #325
Happy to help.

[2017-12-05 15:42] solace opened #326 "autoUpdate interval not firing"
Hi,

I'm using react-boilerplate and have used https://zach.codes/handling-client-side-app-updates-with-service-workers/ as a reference for getting automatic updates running on a SPA.

The plugin is configured as:

[code]

And

[code]

However, updates don't seem to be firing at the 2 minute intervals this suggests it should be doing.

I'm presently triggering updates by having certain actions man

[2017-12-07 09:42] #325 closed

[2017-12-07 09:42] NekR commented on #325
@swarajgiri I made a fix, can you test with a code from github? (`npm install NekR/offline-plugin`)
If it works as expected, I'll make a release.

[2017-12-07 09:44] NekR commented on #326
@solace Hi. It supposed to work. Are you sure it isn't calling updates at all?

[2017-12-07 10:14] swarajgiri commented on #325
@NekR - Does not throw this error now.

Side note: I have the runtime added in the entry file
[code]

But webpack says that i haven't added it
`ERROR in OfflinePlugin: Plugin's runtime wasn't added to one of your bundle entries. See this https://goo.gl/YwewYp for details`

Note: I have lot of breaks from `file-loader`. Can this be caused because of the incomplete error'ed out bundling?

[2017-12-07 10:18] NekR commented on #325
It's directly related to this issue, I screwed the logic. Thanks for
testing, making a fix now.

On Dec 7, 2017 1:14 PM, "swarajgiri" <notifications@github.com> wrote:

[2017-12-07 10:27] NekR commented on #325
Okay, I made another commit, it should work now. Would be great if you could test it again.

[2017-12-07 10:30] swarajgiri commented on #325
Error squashed. You are the man. Cheers.

[2017-12-07 10:40] NekR commented on #325
Great! Thanks for assisting and testing! 👍

On Dec 7, 2017 1:30 PM, "swarajgiri" <notifications@github.com> wrote:

[2017-12-07 10:40] NekR commented on #325
Great! Thanks for assisting and testing! 👍

On Dec 7, 2017 1:30 PM, "swarajgiri" <notifications@github.com> wrote:

Error squashed. You are the man. Cheers.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/NekR/offline-plugin/issues/325#issuecomment-349927398>,
or mute the thread
<https://github.com/notifications/unsubscribe

[2017-12-07 10:40] NekR commented on #325
https://github.com/NekR/offline-plugin/releases/tag/v4.8.5

[2017-12-07 17:19] PaulLaux opened #328 "Offline mode mulfunction"
## Issue Type

- [ ] Bug

## Description
Hello guys, getting sw not working while offline.

"Unknown error occurred when fetching the script"

webpack-offline plugin installed and seems to be working (see image), not sure how to debug.

![webpack_offline](https://user-images.githubusercontent.com/3682187/33727448-bca9acca-db80-11e7-80a7-0b9e2b9cc1ae.jpg)

## Steps to reproduce
- Load site on https

[2017-12-07 22:44] NekR commented on #328
@PaulLaux Your website works for me in offline mode as expected. That `An unknown error occurred when fetching the script` can be safely ignored, Chrome always says that for offline websites. It's long to explain why, just ignore it :-)

[2017-12-08 03:01] swarajgiri commented on #325
Happy to help.

[2017-12-08 06:59] PaulLaux commented on #328
Thanks for the info regarding the error,
The thing that got me confused is `bypass for network` checkbox, it make the browser to ignore the service worker.

[2017-12-08 06:59] #328 closed

[2017-12-08 17:04] solace commented on #326
I've tried adding console.logs to each event that can be configured in `install`, and changing the `autoUpdate` value to a shorter interval for testing. As it's an SPA, I don't have other routes to nav to to see if it makes a difference, but minutes pass without any of the log messages appearing until I manually invoke `registration.update` either from the console, or through an action in the SPA.

[2017-12-12 01:21] NekR opened #329 "Make sure all tests are run for webpack 1 & 4"

[2017-12-21 10:45] niels-garve opened #332 "offline-plugin on virtual host"
Hi,

I'm currently developing a website that runs on a virtual host on my local machine without HTTPS.

Google Chrome treats my virtual host as unsecure and won't install a Service Worker. This is totally fine due to their documentation:

But there's the possibility to open Chrome via Terminal and by using `--unsafely-treat-insecure-origin-as-secure=http://virtual-host.test`, which makes Chrome tr

[2017-12-21 16:35] niels-garve commented on #332
As a quick fix I made a fork where I removed the line `(window.location.protocol === 'https:' || window.location.hostname === 'localhost' || window.location.hostname.indexOf('127.') === 0)`.

One could argue, if this could also be a solution: leave it up to the browsers whether to execute a Service Worker or not. What do you think?

[2017-12-25 13:10] #133 closed

[2017-12-25 13:29] NekR commented on #45
Fixed in https://github.com/NekR/offline-plugin/releases/tag/v4.9.0

[2017-12-25 13:29] #45 closed

[2018-01-04 05:50] praneshr opened #334 "Only cache *.js and *.css"
Thanks for the great plugin. I'm using offline-plugin for a react app. It's an **isomorphic app**. My problem is, all my network calls are served from the serviceworker. Let me explain.

**My config**
[code]

But when I do a request for `/category` or `/login`, the HTML is also being served from the cache. The problem is it's not giving the latest HTML.  Attaching the network waterfall.

![image](

[2018-01-05 13:15] JobLeonard opened #335 "SPA.md seems to be outdated, and contradicts app-shell.md"
https://github.com/NekR/offline-plugin/blob/master/docs/examples/SPA.md

https://github.com/NekR/offline-plugin/blob/master/docs/app-shell.md

I'm not entirely sure what the correct documentation would be, but given that the SPA one is older I assume it's the outdated one. Since it is the first and only linked example from the README.md, this can lead people astray.

[2018-01-05 17:30] NekR commented on #335
Indeed! It's outdated and should be updated, thanks for pointing to it!

[2018-01-07 16:08] ycmjason opened #336 "How can I output the sw.js to the root of the project so that it can access to root scope?"
I try to make this plugin work but it's a little bit tricky to get the configuration right. So my current situation is I am exporting the webpack bundle to `/dist/bundle.js`. Since I have set the `output` path, the service worker from this plugin also got outputted into `/dist/sw.js`. And obviously it could not be registered with `/` scope.

Should I create a symbolic link from `/sw.js` to `/dist/